.login {
  position: absolute;
  display: none;
  flex-flow: column nowrap;
  justify-content: start;
  z-index: 999;
  top: 50px;
  right: 14.6%;
  width: 231px;
  height: 395px;
  background-color: #fff;
  box-sizing: border-box;
  border: 2px solid #004391;
  box-shadow: 5px 5px 10px rgba(0, 67, 145, 0.3);
  padding: 18px;
}
.login .login-content__title {
  font-family: Bebas Neue;
  font-size: 18px;
  color: #DF5E16;
  margin-top: -4px;
}
.login .login-content__close {
  position: absolute;
  top: 18px;
  right: 17px;
}
.login .login-content__close i {
  color: #004391;
  font-weight: lighter;
}
.login .row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-content: center;
  align-items: center;
}
.login .row .login-content-form__mail-title,
.login .row .login-content-form__pass-title {
  font-family: Open Sans;
  font-weight: bold;
  line-height: 26px;
  font-size: 12px;
  color: #004391;
}
.login .row .login-content-form__pass-title a {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 10px;
  color: #333333;
  margin-left: 77px;
}
.login .row .login-content-form__mail-input {
  margin-bottom: 22px;
  font-style: italic;
}
.login .row .login-content-form__mail-input--error,
.login .row .login-content-form__pass-input--error {
  display: none;
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  margin-top: -14px;
  margin-bottom: 35px;
  letter-spacing: -0.7px;
  font-size: 10px;
  color: #C82E2E;
  position: absolute;
}
.login .row .login-content-form__pass-input--error {
  top: 222px;
}
.login .row .login-content-form__mail-input,
.login .row .login-content-form__pass-input {
  width: 194px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #004391;
  padding: 0 15px;
  position: relative;
}
.login .row .login-content__social-vk,
.login .row .login-content__social-fb {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
}
.login .row .login-content__social-vk {
  background-size: contain;
  margin-right: 13px;
  background-image: url(../../img/svg-content/vk_blue.svg);
}
.login .row .login-content__social-vk:hover {
  background-image: url(../../img/svg-content/vk_hover.svg);
  background-size: contain;
}
.login .row .login-content__social-fb {
  background-size: contain;
  background-image: url(../../img/svg-content/fb_blue.svg);
}
.login .row .login-content__social-fb:hover {
  background-image: url(../../img/svg-content/fb_hover.svg);
  background-size: contain;
}
.login .row .login-content-ulist {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.login .row .login-content-ulist .login-content-ulist-list {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 40px;
  text-align: center;
  cursor: pointer;
}
.login .row .login-content-ulist .login-content-ulist-list:first-child {
  margin-top: 15px;
  margin-bottom: 3px;
}
.login .row .login-content-ulist .login-content-ulist-list__login {
  background: inherit;
  border: none;
  outline: none;
}
.login .row .login-content-ulist .login-content-ulist-list__login {
  text-align: center;
  text-decoration: none;
  font-family: Bebas Neue;
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 40px;
  color: #FFFFFF;
}
.login .row .login-content-ulist .login-content-ulist-list__sign {
  text-align: center;
  text-decoration: none;
  font-family: Bebas Neue;
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 40px;
  color: #333333;
  border-bottom: 2px solid #DF5E16;
}
.login .row .login-content-ulist .login-content-ulist-list:hover {
  background-color: #F58A4E;
  color: #FFFFFF;
}
.login .row .login-content-ulist .login-content-ulist-list:first-child {
  background-color: #DF5E16;
  color: #FFFFFF;
}
.login .row .login-content-ulist .login-content-ulist-list:first-child:hover {
  background-color: #F58A4E;
}
.login .row .login-content-ulist .login-content-ulist-list:hover a,
.login .row .login-content-ulist .login-content-ulist-list:hover input {
  font-family: Bebas Neue;
  font-size: 14px;
  letter-spacing: 4px;
  color: #FFFFFF;
  border-bottom: none;
  line-height: 40px;
}
.login .row.form {
  margin-top: 15px;
}
.login .row.link {
  margin-top: 30px;
}
.login .row.button {
  margin-top: 10px;
}
.userpage {
  position: fixed;
  top: 465px;
  right: 14.6%;
  display: none;
  width: 231px;
  height: 209px;
  background: #F2F2F2;
  padding: 17px 18px;
  z-index: 999;
}
.userpage .userpage__title {
  font-family: Bebas Neue;
  font-size: 18px;
  color: #DF5E16;
  margin-top: -3px;
  margin-bottom: 29px;
}
.userpage .userpage__close {
  position: absolute;
  top: 15px;
  right: 27px;
}
.userpage .userpage__close i {
  color: #004391;
  font-weight: lighter;
}
.userpage .userpage-ulist .userpage-ulist__list {
  list-style-type: none;
  display: block;
  margin-bottom: 18px;
}
.userpage .userpage-ulist .userpage-ulist__list .userpage-ulist__list-item {
  position: relative;
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  /* line-height: 35px; */
  font-size: 12px;
  color: #000000;
}
.userpage .userpage-ulist .userpage-ulist__list .userpage-ulist__list-item:hover {
  color: #004391;
  font-weight: bold;
}
.userpage .userpage-ulist .userpage-ulist__list:last-child {
  margin-bottom: 18px;
}
.userpage .userpage-ulist .userpage-ulist__list:last-child a:hover::after {
  content: url(/img/svg-content/exit.svg);
  position: absolute;
  top: 0.5px;
  right: -30px;
}
