section.content
    article.content-image
    article.content-desc
        h1.content-desc_title Ошибка
        p.content-desc_desc Страница, которую вы ищете, не найдена или удалена.
        p.content-desc_desc 
            | Вы можете вернуться 
            a(href="#").content-desc_desc_link назад
            |. Воспользоваться меню наверху или перейти на 
            a(href="index.html").content-desc_desc_link главную
            |.
