
section.content-wework
    section.content-weworking
        h2.content-weworking__title Как мы работаем
        article.content-weworking-item.content-weworking-item-1.content-weworking-item--active
            article.content-weworking-item-text.content-weworking-item-1-text
                ul.content-weworking-item-text-ulist.content-weworking-item-1-text-ulist
                    .content-weworking-item-text-ulist-img.content-weworking-item-text-ulist-img1
                    li.content-weworking-item-text-ulist__list.content-weworking-item-1-text-ulist__list Консультирование
                    button.content-weworking-item-text-ulist__list--open.content-weworking-item-1-text-ulist__list--open
                p.content-weworking-item-text-ulist__list-desc.content-weworking-item-1-text-ulist__list-desc Залог успешного получения образования за рубежом — верный выбор страны, учебного заведения и программы.
                p.content-weworking-item-text-ulist__list-desc.content-weworking-item-1-text-ulist__list-desc Основа нашего подхода — индивидуальная, тщательная работа с каждым студентом и предоставление профессиональной экспертизы: мы предлагаем варианты обучения, исходя из целей студента, его способностей, характера и перспектив на будущее.
        article.content-weworking-item.content-weworking-item-2
            article.content-weworking-item-text.content-weworking-item-2-text
                ul.content-weworking-item-text-ulist.content-weworking-item-2-text-ulist
                    .content-weworking-item-text-ulist-img.content-weworking-item-text-ulist-img1
                    li.content-weworking-item-text-ulist__list.content-weworking-item-2-text-ulist__list Оплата орг. сбора
                    button.content-weworking-item-text-ulist__list--open.content-weworking-item-2-text-ulist__list--open
                p.content-weworking-item-text-ulist__list-desc.content-weworking-item-2-text-ulist__list-desc Залог успешного получения образования за рубежом — верный выбор страны, учебного заведения и программы.
                p.content-weworking-item-text-ulist__list-desc.content-weworking-item-2-text-ulist__list-desc Основа нашего подхода — индивидуальная, тщательная работа с каждым студентом и предоставление профессиональной экспертизы: мы предлагаем варианты обучения, исходя из целей студента, его способностей, характера и перспектив на будущее.
        article.content-weworking-item.content-weworking-item-3
            article.content-weworking-item-text.content-weworking-item-3-text
                ul.content-weworking-item-text-ulist.content-weworking-item-3-text-ulist
                    .content-weworking-item-text-ulist-img.content-weworking-item-text-ulist-img1
                    li.content-weworking-item-text-ulist__list.content-weworking-item-3-text-ulist__list Подбор программы
                    button.content-weworking-item-text-ulist__list--open.content-weworking-item-3-text-ulist__list--open
                p.content-weworking-item-text-ulist__list-desc.content-weworking-item-3-text-ulist__list-desc Залог успешного получения образования за рубежом — верный выбор страны, учебного заведения и программы.
                p.content-weworking-item-text-ulist__list-desc.content-weworking-item-3-text-ulist__list-desc Основа нашего подхода — индивидуальная, тщательная работа с каждым студентом и предоставление профессиональной экспертизы: мы предлагаем варианты обучения, исходя из целей студента, его способностей, характера и перспектив на будущее.
        article.content-weworking-item.content-weworking-item-4
            article.content-weworking-item-text.content-weworking-item-4-text
                ul.content-weworking-item-text-ulist.content-weworking-item-4-text-ulist
                    .content-weworking-item-text-ulist-img.content-weworking-item-text-ulist-img1
                    li.content-weworking-item-text-ulist__list.content-weworking-item-4-text-ulist__list Оформление документов
                    button.content-weworking-item-text-ulist__list--open.content-weworking-item-4-text-ulist__list--open
                p.content-weworking-item-text-ulist__list-desc.content-weworking-item-4-text-ulist__list-desc Залог успешного получения образования за рубежом — верный выбор страны, учебного заведения и программы.
                p.content-weworking-item-text-ulist__list-desc.content-weworking-item-4-text-ulist__list-desc Основа нашего подхода — индивидуальная, тщательная работа с каждым студентом и предоставление профессиональной экспертизы: мы предлагаем варианты обучения, исходя из целей студента, его способностей, характера и перспектив на будущее.
        article.content-weworking-item.content-weworking-item-5
            article.content-weworking-item-text.content-weworking-item-5-text
                ul.content-weworking-item-text-ulist.content-weworking-item-5-text-ulist
                    .content-weworking-item-text-ulist-img.content-weworking-item-text-ulist-img1
                    li.content-weworking-item-text-ulist__list.content-weworking-item-5-text-ulist__list Курирование
                    button.content-weworking-item-text-ulist__list--open.content-weworking-item-5-text-ulist__list--open
                p.content-weworking-item-text-ulist__list-desc.content-weworking-item-5-text-ulist__list-desc Залог успешного получения образования за рубежом — верный выбор страны, учебного заведения и программы.
                p.content-weworking-item-text-ulist__list-desc.content-weworking-item-5-text-ulist__list-desc Основа нашего подхода — индивидуальная, тщательная работа с каждым студентом и предоставление профессиональной экспертизы: мы предлагаем варианты обучения, исходя из целей студента, его способностей, характера и перспектив на будущее.
    section.content-weworking-photozone
        article.content-weworking-photozone-photo