.title
	.wrapper.title__wrapper
		h2.section-name школы
		form.school-select
			select
				option Показать по 9
				option 9
				option 18
				option 36
section.content.content__schools
	.wrapper.content__wrapper
		.content__main
			aside.sidebar
				section.sidebar__part
					h3.sidebar__part-button.sidebar__part-button-prog
						| Программа
						.sidebar-arrow.arrow-prog
					ul.choose-program__checkboxes.hidden
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Каникулярные программы
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Языковые курсы
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Среднее образование
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Высшее образование
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Работа
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Стажировка
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Стипендии и гранты
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Волонтерство
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Международные экзамены
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Ознакомительные поездки
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Foundation
					a.show-all(href='#').hidden показать все			
				section.sidebar__part
					h3.sidebar__part-button.sidebar__part-button-spec
						| Специальности
						.sidebar-arrow.arrow-spec
					ul.choose-specialty__checkboxes.hidden
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Менеджмент, бизнес и управление
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Строительство, архитектура
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Сельское и лесное хозяйство
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Искусство, мода и дизайн
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Инженерия и IT
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Гостеприимство и туризм
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Правоведение
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Международные отношения и политика
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Медицина
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Физическая культура и спорт
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Режиссура и кинематография
					a.show-all(href='#').hidden  показать все
				section.sidebar__part
					h3.sidebar__part-button.sidebar__part-button-count
						| Страны
						.sidebar-arrow.arrow-count(style="transform: rotate(180deg);")
					ul.choose-country__checkboxes
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label США
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Канада
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Австралия
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Новая Зеландия
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Сингапур
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Япония
						li
							label
								input.custom__checkbox(type='checkbox', name='', checked='')
								span.checkbox-custom
								span.label Корея
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Филиппины
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Ирландия
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Чехия
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Испания
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Германия
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Мальта
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Таиланд
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Сайпан
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Вьетнам
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label ОАЭ
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Канада
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Кипр
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Китай
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Англия
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Индонезия
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Куба
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Мексика
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Малайзия
						li
							label
								input.custom__checkbox(type='checkbox', name='')
								span.checkbox-custom
								span.label Франция
					a.show-all(href='#') показать все
					section.sidebar__part.filters
						button.button__action.apply(type='button', value='')
							a(href='#') Применить
						a.reset-filter(href='#') Сбросить фильтр
			main.schools-list__wrapper
				.school-card.school-1
					.school-card__image
						.school__info
							h3.school-card__name St. John's University
							span.school-card__country США
							a(href='school-page.html').button__action.more подробнее			 
				.school-card.school-1
					.school-card__image
						.school__info
							h3.school-card__name St. John's University
							span.school-card__country США
							a(href='#').button__action.more подробнее 
				.school-card.school-1
					.school-card__image
						.school__info
							h3.school-card__name St. John's University
							span.school-card__country США
							a(href='#').button__action.more подробнее
				.school-card.school-1
					.school-card__image
						.school__info
							h3.school-card__name St. John's University
							span.school-card__country США
							a(href='#').button__action.more подробнее
				.school-card.school-1
					.school-card__image
						.school__info
							h3.school-card__name St. John's University
							span.school-card__country США
							a(href='#').button__action.more подробнее
				.school-card.school-1
					.school-card__image
						.school__info
							h3.school-card__name St. John's University
							span.school-card__country США
							a(href='#').button__action.more подробнее 
				.school-card.school-1
					.school-card__image
						.school__info
							h3.school-card__name St. John's University
							span.school-card__country США
							a(href='#').button__action.more подробнее
				.school-card.school-1
					.school-card__image
						.school__info
							h3.school-card__name St. John's University
							span.school-card__country США
							a(href='#').button__action.more подробнее	 
				.school-card.school-1
					.school-card__image
						.school__info
							h3.school-card__name St. John's University
							span.school-card__country США
							a(href='#').button__action.more подробнее
				a.show-more(href="#") Показать еще			
				nav.schools-catalogue__pagination
						.pagi-nav-wrapper
							a.pagi-arrow.pagi-arrow-back(href='#')
							a(href='#') 1
							a(href='#') 2
							a(href='#') 3
							a(href='#') 4
							a(href='') ...
							a(href='#') 125
							a.pagi-arrow.pagi-arrow-forward(href='#')
						
