
footer.footer
	.footer__top
		.footer-logo-button__wrapper
			a(href="index.html")
				.footer-logo
			a(href='#').button__action.franchise приобрести франшизу 
		nav.footer-menu__items
			.items_block-1
				.footer-menu__item 
					a(href='#') о компании
				.footer-menu__item
					a(href='#') программы
				.footer-menu__item
					a(href='#') услуги
			.items_block-2
				.footer-menu__item
					a(href='#') страны
				.footer-menu__item
					a(href='schools.html') школы
				.footer-menu__item
					a(href='#') контакты
		.footer__contacts
			a(href='tel:8-800-737-77-05').footer__phone 8 800 737-77-05
			a(href='tel:8-800-737-77-05').free-line бесплатная линия
			.footer__social-links
				a(href="#")
					.footer__social-link.footer__social-link_instagram
				a(href="#")
					.footer__social-link.footer__social-link_fb
				a(href="#")
					.footer__social-link.footer__social-link_youtube
				a(href="#")
					.footer__social-link.footer__social-link_vk
			a(href='#' type='submit').subscribe__submit Подписаться на рассылку
	.footer__bottom
		.wrapper.footer__wrapper
			.footer__copyright
				p.copyright
					span.comp-name|OOO «Экселенте», 2018 г.
				br
				p.license Лицензия ФМС МВД РФ № 20110251124 от 13.08.2010 г. бессрочно
			.footer__made-by
				a.developer(href="#")
					p Разработка сайта 
						span DVIGA


