section.restore
	.restore__wrapper
		.restore-title__wrapper
			h1.restore__title пароль успешно изменен
		.restore-text__wrapper
			p.step-description-3
				| Ваш пароль изменен, теперь вы можете войти в личный кабинет
		.log-in__wrapper
			a.button.button-action__log-in(href="#") войти в личный кабинет