section.restore
	.restore__wrapper
		.restore-title__wrapper
			h1.restore__title восстановление пароля
			h2.restore__subtitle Шаг 1/2
		.restore-text__wrapper
			p.step-description
				| Введите электронную почту, указанную при регистрации, на нее мы вышлем ссылку для восстановления пароля
			p.confidence-policy
				| Ваши данные под надежной защитой в соответствии с 
				a.confidence-policy__link(href='#') политикой конфиденциальности
		form.reset__form(action='password-restore-2-step.html' method='get')
			p.e-mail__title Эл. почта
			input.e-mail__field(type='email' name="mail" placeholder='user@example.com')
			label(for="mail").e-mail__error Поле заполнено с ошибкой
			input.button.button-action__reset-password(type='submit' value='сбросить пароль')