section.restore
	.restore__wrapper
		.restore-title__wrapper
			h1.restore__title восстановление пароля
			h2.restore__subtitle Шаг 2/2
		.restore-text__wrapper
			p.step-description
				| Придумайте новый пароль
			p.confidence-policy-2
				| Ваши данные под надежной защитой в соответствии с 
				a.confidence-policy__link(href='#')  политикой конфиденциальности
		form.restore__form
			p.new-password__title Новый пароль*
			input.new-password__field(type='password')
			p.new-password__title Повторите пароль*
			input.new-password__field(type='password')
			button.button.button-action__save-password(type='submit' value='сохранить пароль')
				a(href="password-restore-success.html") сбросить пароль