.banner-basket.hidden    
  section.basket
    .row
      h2.basket-content__title В корзине
      a.basket-content__close(href='#')
        i.fa.fa-times(aria-hidden='true')
    .row
      a.basket-content__desc(href='#') Летние каникулы в Christ’s Hospital School
    .row
      ul.basket-content-ulist
        li.basket-content-ulist-list
          a.basket-content-ulist-list__sign(href='#') Перейти в корзину
        li.basket-content-ulist-list
          a.basket-content-ulist-list__login(href='#') продолжить покупки