.banner-chosen.hidden
  section.chosen
    .row.row1
      h2.chosen-content__title Вы не зарегистрированы
      a.chosen-content__close(href='#')
        i.fa.fa-times(aria-hidden='true')
    .row.row2
      p.chosen-content__desc
        | Зарегистрируйтесь или войдите в личный кабинет, чтобы иметь возможность пользоваться всеми функциями сайта.
    .row.row3
      ul.chosen-content-ulist
        li.chosen-content-ulist-list
          a.chosen-content-ulist-list__sign(href='login.html') зарегистрироваться
        li.chosen-content-ulist-list
          a.chosen-content-ulist-list__login(href='login.html') войти в аккаунт