section.programs
  .wrapper.programs__wrapper
    h2.programs__title.h2-title Программы
    ul.programs__list
      li.programs__list-item.programs__list-item_1.programs__list-item_active IELTS
      li.programs__list-item.programs__list-item_2 TOEFL
      li.programs__list-item.programs__list-item_3 CAMBRIDGE
      li.programs__list-item.programs__list-item_4 PEARSON
      li.programs__list-item.programs__list-item_5 PATHWAY
      li.programs__list-item.programs__list-item_6 ВНУТРЕННИЙ ТЕСТ ШКОЛЫ
    .programs__info
      .programs__info-item.programs__info-item_1.programs__info-item_active
        p.programs__text В вузах Кипра представлен широкий выбор специальностей на английском языке: от гуманитарных наук до гостиничного бизнеса. Здесь можно пройти подготовку по программам бакалавриата, магистратуры и докторантуры. На базе многих университетов работают центры трудоустройства и карьеры. Для поступления в университет на Кипре необходимо предоставить результаты международного экзамена TOEFL или IELTS. Если уровень английского языка недостаточно высок, можно пройти подготовительные курсы при университете.
        h3.programs__subtitle Специальности (IELTS)
        ul.programs__sublist
          li.programs__sublist-item Биологические науки
          li.programs__sublist-item Инженерные науки
          li.programs__sublist-item Искусствоведение
          li.programs__sublist-item Лингвистика
          li.programs__sublist-item Менеджмент, бизнес и управление
          li.programs__sublist-item Науки о материалах
        .programs__button
           a(href="#") В КАТАЛОГ
      .programs__info-item.programs__info-item_2
        p.programs__text Россия была провозглашена республикой 1 сентября 1917 года, хотя фактически стала ею 3 марта 1917 года в результате Февральской революции. С 10 января 1918 года — РСФСР. 30 декабря 1922 года РСФСР вместе с другими советскими республиками учредила СССР, неофициально его тоже часто называли «Россией».До V века славяне жили при родовом строе. Во главе каждой родовой общины стоял родовой старейшина, обладающий неограниченной властью. Земля являлась собственностью общины, часть сельскохозяйственных р
        h3.programs__subtitle Специальности (TOEFL)
        ul.programs__sublist
          li.programs__sublist-item Биологические науки
          li.programs__sublist-item Инженерные науки
          li.programs__sublist-item Искусствоведение
          li.programs__sublist-item Лингвистика
          li.programs__sublist-item Менеджмент, бизнес и управление
          li.programs__sublist-item Науки о материалах
        .programs__button
           a(href="#") В КАТАЛОГ
      .programs__info-item.programs__info-item_3
        p.programs__text В вузах Кипра представлен широкий выбор специальностей на английском языке: от гуманитарных наук до гостиничного бизнеса. Здесь можно пройти подготовку по программам бакалавриата, магистратуры и докторантуры. На базе многих университетов работают центры трудоустройства и карьеры. Для поступления в университет на Кипре необходимо предоставить результаты международного экзамена TOEFL или IELTS. Если уровень английского языка недостаточно высок, можно пройти подготовительные курсы при университете.
        h3.programs__subtitle Специальности (cambridge)
        ul.programs__sublist
          li.programs__sublist-item Биологические науки
          li.programs__sublist-item Инженерные науки
          li.programs__sublist-item Искусствоведение
          li.programs__sublist-item Лингвистика
          li.programs__sublist-item Менеджмент, бизнес и управление
          li.programs__sublist-item Науки о материалах
        .programs__button
           a(href="#") В КАТАЛОГ
      .programs__info-item.programs__info-item_4
        p.programs__text В вузах Кипра представлен широкий выбор специальностей на английском языке: от гуманитарных наук до гостиничного бизнеса. Здесь можно пройти подготовку по программам бакалавриата, магистратуры и докторантуры. На базе многих университетов работают центры трудоустройства и карьеры. Для поступления в университет на Кипре необходимо предоставить результаты международного экзамена TOEFL или IELTS. Если уровень английского языка недостаточно высок, можно пройти подготовительные курсы при университете.
        h3.programs__subtitle Специальности (pearson)
        ul.programs__sublist
          li.programs__sublist-item Биологические науки
          li.programs__sublist-item Инженерные науки
          li.programs__sublist-item Искусствоведение
          li.programs__sublist-item Лингвистика
          li.programs__sublist-item Менеджмент, бизнес и управление
          li.programs__sublist-item Науки о материалах
        .programs__button
           a(href="#") В КАТАЛОГ
      .programs__info-item.programs__info-item_5
        p.programs__text В вузах Кипра представлен широкий выбор специальностей на английском языке: от гуманитарных наук до гостиничного бизнеса. Здесь можно пройти подготовку по программам бакалавриата, магистратуры и докторантуры. На базе многих университетов работают центры трудоустройства и карьеры. Для поступления в университет на Кипре необходимо предоставить результаты международного экзамена TOEFL или IELTS. Если уровень английского языка недостаточно высок, можно пройти подготовительные курсы при университете.
        h3.programs__subtitle Специальности (PATHWAY)
        ul.programs__sublist
          li.programs__sublist-item Биологические науки
          li.programs__sublist-item Инженерные науки
          li.programs__sublist-item Искусствоведение
          li.programs__sublist-item Лингвистика
          li.programs__sublist-item Менеджмент, бизнес и управление
          li.programs__sublist-item Науки о материалах
        .programs__button
           a(href="#") В КАТАЛОГ
      .programs__info-item.programs__info-item_6
        p.programs__text В вузах Кипра представлен широкий выбор специальностей на английском языке: от гуманитарных наук до гостиничного бизнеса. Здесь можно пройти подготовку по программам бакалавриата, магистратуры и докторантуры. На базе многих университетов работают центры трудоустройства и карьеры. Для поступления в университет на Кипре необходимо предоставить результаты международного экзамена TOEFL или IELTS. Если уровень английского языка недостаточно высок, можно пройти подготовительные курсы при университете.
        h3.programs__subtitle Специальности (ТЕСТ ШКОЛЫ)
        ul.programs__sublist
          li.programs__sublist-item Биологические науки
          li.programs__sublist-item Инженерные науки
          li.programs__sublist-item Искусствоведение
          li.programs__sublist-item Лингвистика
          li.programs__sublist-item Менеджмент, бизнес и управление
          li.programs__sublist-item Науки о материалах
        .programs__button
           a(href="#") В КАТАЛОГ
