section.select-programm
	section.select-programm-content
		h2.select-programm-content__title
			| подобрать программу
		.select__wrapper
			.select-country
				h3.select__title
					| Страна
				select.country__select
					option Россия
					option США
					option Германия
					option Япония
			.select-language
				h3.select__title
					| Язык
				select.language__select
					option Русский
					option Английский
					option Немецкий
					option Японский
			.select-programm-content-type
				h3.select__title
					| Тип программы
				select.programm-type__select
					option Работа
					option Стажировка
					option Английский
			button.button-select(type="button")
				| Подобрать
		p.select-programm-content__text
				|В нашем каталоге  собраны программы, зарекомендовавшие себя исключительно с положительной стороны. Excelente ведет каждого клиента индивидуально, оказывая поддержку круглосуточно семь дней в неделю.