.site-path 
  ul.site-path__items
    li.site-path__item
      a(href="index.html") Главная
    li.site-path__item
      a(href="schools.html") Страница 1
    li.site-path__item
      a(href="schools.html") Страница 2