section.slider.slider__schools
  .slider__items
    .slider__item.slider__item_1.slide
      .wrapper.slide__wrapper
        h2.slide__title Fanshawe college
        p.slide__description набор на новый учебный год
        a(href="#").slide__button подробнее
    .slider__item.slider__item_2.slide
      .wrapper.slide__wrapper
        h2.slide__title St. John's University
        p.slide__description набор на новый учебный год
        a(href="school-page.html").slide__button подробнее
    .slider__item.slider__item_3.slide
      .wrapper.slide__wrapper
        h2.slide__title University of New South
        p.slide__description набор на новый учебный год
        a(href="#").slide__button подробнее
  .wrapper.slider__wrapper
    .slider__navigation.slider-navigation
      .slider-navigation__count.slider-navigation__count_this 01
      .slider-navigation__count.slider-navigation__count_all 04
      .slider-navigation__fill
      .slider-navigation__arrows
        .slider-navigation__arrow.slider-navigation__arrow_left
        .slider-navigation__arrow.slider-navigation__arrow_right
