section.slider.slider__main
  .slider__items
    .slider__item.slider__item_1.slide
      .wrapper.slide__wrapper
        h2.slide__title.slide__title_blue Поступи 
          br 
          |в зарубежный вуз
        //- p.slide__description набор на новый учебный год
        a(href="#").slide__button подробнее
    .slider__item.slider__item_2.slide
      .wrapper.slide__wrapper
        h2.slide__title.slide__title_blue St. John's University
        p.slide__description набор на новый учебный год
        a(href="school-page.html").slide__button подробнее
    .slider__item.slider__item_3.slide
      .wrapper.slide__wrapper
        h2.slide__title.slide__title_blue Мексика
        p.slide__description страна с упрощенным визовым режимом
        a(href="#").slide__button подробнее
    .slider__item.slider__item_4.slide
      .wrapper.slide__wrapper
        h2.slide__title.slide__title_blue Получи дополнительные 
          br
          |бонусные баллы
        p.slide__description Оплати услугу «Визовое сопровождение» онлайн
        a(href="#").slide__button подробнее
  .wrapper.slider__wrapper
    .slider__navigation.slider-navigation
      .slider-navigation__count.slider-navigation__count_this 01
      .slider-navigation__count.slider-navigation__count_all 04
      .slider-navigation__fill
      .slider-navigation__arrows
        .slider-navigation__arrow.slider-navigation__arrow_left
        .slider-navigation__arrow.slider-navigation__arrow_right
