@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,500');
* {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

a:active,
a:focus {
    color: teal;
}

html,
body {
    font-family: Roboto;
    height: 100%;
    width: 100vw;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #dfdfdf;
    height: 50px;
    width: 100%;
    vertical-align: middle;
    position: fixed;
}

nav,
ul {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    width: 100%;
    height: 50px;
}

ul li {
    list-style: none;
    width: 33%;
    text-align: center;
}

ul a {
    text-decoration: none;
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
}

main {
    background: #f7f7f7;
    flex: 1;
    margin-top: 50px;
}

main h1 {
    font-family: Roboto;
    color: #2e353d;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin: 3%;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto 5%;
}

section p {
    background-color: #ffffff;
    width: 60%;
    padding: 3%;
    margin: 7px auto;
    color: #242424;
    font-size: 20px;
    font-weight: 100;
    line-height: 36px;
    text-align: left;
    overflow: auto;
}

img {
    height: 250px;
}

footer {
    color: #a4a4a4;
    font-size: 20px;
    font-style: italic;
    background-color: #434445;
    width: 100%;
    height: 55px;
    display: inline-block;
    text-align: center;
    line-height: 55px;
}
