extends modules/layout-main

block pageTitle
  title Восстановление пароля

append pageLinks
  link(rel="stylesheet", href="css/password-restore.css")

block content
  include modules/password-restore-success.pug