extends modules/layout-main

block pageTitle
  title Школы

append pageLinks
  link(rel="stylesheet", href="css/content_schools.css")

block content
  include modules/slider_schools
  include modules/content_schools
  
append pageScripts
  script(src="js/slider.js")
  script(src="js/filter.js")