@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto&subset=cyrillic-ext');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.header {
  padding-top: 28px;
  text-align: center;
  background-image: url(../img/header-background.jpg);
  background-repeat: no-repeat;
}
.header__top-line {
  text-align: justify;
  font-size: 0;
}
.header__top-line::after {
  display: inline-block;
  width: 100%;
  content: "";
}
.header__logo {
  font-size: 30px;
  font-weight: bold;
  line-height: 23px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}
.header__menu {
  display: inline-block;
}
.header h2 {
  margin-top: 164px;
  font-family: "Kaushan Script";
  font-size: 72px;
  text-align: center;
  line-height: 87px;
  color: #ffffff;
}
.header h1 {
  max-width: 900px;
  margin: 42px auto 0;
  font-size: 150px;
  font-weight: bold;
  line-height: 124px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.header p {
  width: 60px;
  margin: 71px auto 0;
  border-top: solid 3px #ffffff;
}
.header__learn-more {
  display: inline-block;
  width: 160px;
  height: 40px;
  margin-top: 50px;
  font-size: 14px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: solid 3px #ffffff;
}
.header__learn-more:hover {
  text-decoration: underline;
}
.header__page-links {
  margin-top: 157px;
}
.menu {
  font-size: 14px;
  color: #ffffff;
}
.menu .fa {
  margin: 0 20px;
}
.menu .fa:hover {
  color: #fce38a;
  cursor: pointer;
}
.menu__items {
  display: inline-block;
}
.menu__item {
  display: inline-block;
  margin: 0 25px;
  line-height: 34px;
  border-bottom: solid 3px rgba(252, 227, 138, 0);
}
.menu__item a {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.menu__item:hover {
  border-bottom: solid 3px #fce38a;
}
.menu__item:hover a {
  color: #fce38a;
}
.page-links {
  text-align: justify;
  font-size: 0;
}
.page-links::after {
  display: inline-block;
  width: 100%;
  content: "";
}
.page-links__item {
  display: inline-block;
  width: 280px;
  height: 70px;
  opacity: 0.7;
  font-size: 18px;
  text-align: left;
  line-height: 70px;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  border-top: solid 3px #ffffff;
}
.page-links__item span {
  font-size: 24px;
  font-weight: bold;
}
.page-links__item_active {
  opacity: 1;
}
.caption-block h3 {
  font-family: "Kaushan Script";
  font-size: 24px;
  text-align: center;
  color: #333333;
}
.caption-block h2 {
  margin-top: 23px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #333333;
}
.caption-block p {
  width: 60px;
  margin: 40px auto 0;
  border-top: solid 3px #f38181;
}
.our-story {
  padding-top: 91px;
  padding-bottom: 110px;
}
.our-story__describe {
  max-width: 954px;
  margin: 47px auto 0;
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  color: #999999;
}
.our-story__images {
  margin-top: 100px;
  text-align: justify;
  font-size: 0;
}
.our-story__images::after {
  display: inline-block;
  width: 100%;
  content: "";
}
.our-story__image {
  position: relative;
  display: inline-block;
  width: 380px;
  height: 250px;
  background-color: #95e1d3;
}
.our-story__image_1-hover {
  position: absolute;
  left: -10px;
  top: -10px;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-image: url(../img/our-story__image_1-hover.jpg);
  background-repeat: no-repeat;
  transition: opacity 200ms;
}
.our-story__image_1-hover:hover {
  opacity: 1;
}
.counters {
  background-color: #95e1d3;
  font-size: 0;
}
.counters__block {
  display: inline-block;
  width: 20%;
  border-right: solid 1px rgba(255, 255, 255, 0.3);
}
.counters__block:first-child {
  border-left: solid 1px rgba(255, 255, 255, 0.3);
}
.counters__block h2 {
  margin-top: 89px;
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.counters__block h3 {
  margin-top: 30px;
  margin-bottom: 89px;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.our-service {
  padding-top: 109px;
  padding-bottom: 84px;
}
.our-service__items {
  margin-top: 66px;
}
.our-service__items p {
  width: 1200px;
  margin: 51px auto 47px;
  border-top: solid 2px #e5e5e5;
}
.item-block {
  display: inline-block;
  width: 33%;
  padding-left: 31px;
  vertical-align: top;
}
.item-block__icon {
  float: left;
  width: 32px;
  height: 32px;
  background-color: #cccccc;
}
.item-block__caption {
  margin-left: 60px;
  vertical-align: top;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
  color: #333333;
}
.item-block__text {
  margin-left: 60px;
  margin-top: 20px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.6;
  text-align: left;
  color: #999999;
}
.footer {
  padding-top: 74px;
  background-color: #f8f8f8;
}
.footer__follow-us {
  display: inline-block;
  width: 480px;
  vertical-align: top;
}
.footer__follow-us h2 {
  font-size: 46px;
  font-weight: bold;
  text-align: left;
  color: #cccccc;
}
.footer__follow-us p {
  margin-top: 42px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.6;
  text-align: left;
  color: #999999;
}
.footer__follow-us h3 {
  margin-top: 49px;
  padding-bottom: 16px;
  font-size: 14px;
  text-align: left;
  color: #333333;
  border-bottom: solid 1px #e5e5e5;
}
.footer__follow-us h3 span {
  font-size: 18px;
  font-weight: bold;
}
.footer__social-links {
  margin-top: 16px;
}
.footer__subscribe {
  margin-top: 39px;
}
.footer__blog {
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
}
.footer__instagram {
  display: inline-block;
  vertical-align: top;
  padding-left: 75px;
}
.footer__copyright {
  height: 60px;
  margin-top: 70px;
  border-top: solid 1px #e5e5e5;
}
.footer__copyright p {
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  color: #333333;
}
.footer__copyright p a {
  color: #f38181;
  text-decoration: none;
}
.social-links__caption {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.6;
  text-align: left;
  color: #999999;
  text-transform: capitalize;
}
.social-links__item {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 17px;
  background-color: #95e1d3;
  margin-left: 15px;
}
.subscribe {
  height: 40px;
  font-size: 0;
}
.subscribe__email {
  width: 230px;
  height: 40px;
  padding-left: 13px;
  vertical-align: top;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.6;
  text-align: left;
  color: #cccccc;
  background-color: #ffffff;
  border: solid 1px #e7e7e7;
  border-right-color: #95e1d3;
}
.subscribe__submit {
  width: 150px;
  height: 40px;
  vertical-align: top;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #95e1d3;
  border-color: #95e1d3;
}
.subscribe__submit:hover {
  cursor: pointer;
}
.blog__caption {
  margin-top: 2px;
  margin-bottom: 40px;
  font-size: 14px;
  text-align: left;
  color: #333333;
  text-transform: uppercase;
}
.blog__item {
  margin-top: 51px;
}
.blog__photo {
  width: 119px;
  height: 79px;
  float: left;
  background-color: #95e1d3;
}
.blog__description {
  max-width: 200px;
  margin-left: 139px;
  padding-top: 10px;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #333333;
  text-transform: uppercase;
}
.blog__date {
  margin-left: 20px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.85;
  text-align: left;
  color: #999999;
}
.instagram__caption {
  margin-top: 2px;
  font-size: 14px;
  text-align: left;
  color: #333333;
  text-transform: uppercase;
}
.instagram__photos {
  width: 270px;
  margin-top: 40px;
  font-size: 0;
}
.instagram__photo {
  display: inline-block;
  width: 88px;
  height: 88px;
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #95e1d3;
}
.instagram__more-photos {
  display: block;
  margin-top: 20px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.85;
  text-align: left;
  color: #333333;
  text-decoration: none;
}
