.popup-city
    .popup-city__title
      span Ваш город
      i.fa.fa-times.popup-city__close(aria-hidden='true')
    .popup-city__search
      input(type = 'text' placeholder = 'Владивосток').popup-city__input
      ul.popup-city__cities-list
        li Владивосток
        li Владикавказ
        li Вологоград
        li Волжское
        li Волжское
        li Волжское
        li Волжское