.countries {
  background-color: #ffffff;
}
@media (max-width: 576px) {
  .countries {
    padding-bottom: 17px;
  }
}
.countries__title {
  font-family: Bebas Neue;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.67;
  color: #df5e16;
}
@media (max-width: 576px) {
  .countries__title {
    padding-left: 5%;
  }
}
@media (max-width: 576px) {
  .countries__pictures {
    margin-top: 21px;
  }
}
@media (min-width: 577px) {
  .countries__pictures {
    margin-top: 38px;
  }
}
.countries__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media (max-width: 576px) {
  .countries__list-item {
    display: none;
  }
}
@media (min-width: 577px) {
  .countries__list-item {
    position: relative;
    width: 195px;
    height: 195px;
    list-style: none;
  }
  .countries__list-item:nth-child(3n) {
    width: 390px;
    height: 390px;
  }
  .countries__list-item:nth-child(3n + 6) {
    margin-top: -195px;
  }
}
@media (max-width: 576px) {
  .countries__mobile-active {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vw;
  }
}
@media (max-width: 576px) {
  .countries__mobile-active a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 67, 145, 0.5);
  }
}
.countries__item {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: transform 0.5s;
}
.countries__item span {
  position: relative;
  z-index: 1;
  font-family: Bebas Neue;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4.8px;
  color: #ffffff;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .countries__item span {
    opacity: 1;
  }
}
@media (min-width: 577px) {
  .countries__item span {
    opacity: 0;
    transition: opacity 0.5s;
  }
}
@media (min-width: 577px) {
  .countries__item:hover {
    transform: scale(0.9);
  }
  .countries__item:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 67, 145, 0.5);
  }
  .countries__item:hover span {
    opacity: 1;
  }
}
@media (max-width: 576px) {
  .countries__item_japan {
    background-image: url(img/japan.png);
  }
}
@media (min-width: 577px) {
  .countries__item_japan {
    background-image: url(img/japan@2X.png);
  }
}
@media (max-width: 576px) {
  .countries__item_usa {
    background-image: url(img/usa.png);
  }
}
@media (min-width: 577px) {
  .countries__item_usa {
    background-image: url(img/usa@2X.png);
  }
}
@media (max-width: 576px) {
  .countries__item_australia {
    background-image: url(img/australia.png);
  }
}
@media (min-width: 577px) {
  .countries__item_australia {
    background-image: url(img/australia@2X.png);
  }
}
@media (min-width: 577px) {
  .countries__navigation {
    display: none !important;
  }
}
@media (max-width: 576px) {
  .countries__navigation {
    padding-left: 5%;
    margin: 52px 0;
  }
}
.navigation__arrow {
  border: 2px solid #DF5E16;
  background-image: url(../../img/slider-navigation__arrow_orange.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 576px) {
  .navigation__arrow {
    height: 34px;
    width: 34px;
  }
}
@media (min-width: 577px) {
  .navigation__arrow {
    width: 48px;
    height: 48px;
  }
  .navigation__arrow:hover {
    cursor: pointer;
    background-image: url(../../img/slider-navigation__arrow.svg);
    background-color: #DF5E16;
  }
}
.navigation__arrow_right {
  margin-left: 18px;
  transform: rotate(180deg);
}
@media (min-width: 577px) {
  .navigation__arrow_right {
    width: 48px;
    height: 48px;
  }
  .navigation__arrow_right:hover {
    background-image: url(../../img/slider-navigation__arrow.svg);
  }
}
