section.countries
  .wrapper.countries__wrapper
    h2.countries__title Страны
    .countries__pictures
      ul.countries__list
        li.countries__list-item.countries__mobile-active
          a.countries__item.countries__item_japan(href="#")
            span Япония
        li.countries__list-item
          a.countries__item.countries__item_usa(href="#")
            span США
        li.countries__list-item
          a.countries__item.countries__item_australia(href="#")
            span Австралия
        li.countries__list-item
          a.countries__item.countries__item_japan(href="#")
            span Япония
        li.countries__list-item
          a.countries__item.countries__item_usa(href="#")
            span США
        li.countries__list-item
          a.countries__item.countries__item_australia(href="#")
            span Австралия
        li.countries__list-item
          a.countries__item.countries__item_japan(href="#")
            span Япония
        li.countries__list-item
          a.countries__item.countries__item_usa(href="#")
            span США
        li.countries__list-item
          a.countries__item.countries__item_australia(href="#")
            span Австралия
    .countries__navigation.navigation
      .navigation__arrow.navigation__arrow_left 
      .navigation__arrow.navigation__arrow_right