section.customer-reviews
  .wrapper.customer-reviews__wrapper
    h2.customer-reviews__title отзывы
    .customer-reviews__image-block
      ul.customer-reviews__images
        li.customer-reviews__image.customer-reviews__image_active
          picture
            source(media="(max-width: 576px)", srcset="blocks/customer-reviews/img/customer-reviews_darya_mobile.png 1x, blocks/customer-reviews/img/customer-reviews_darya_mobile@2x.png 2x")
            source(media="(min-width: 577px)", srcset="blocks/customer-reviews/img/customer-reviews_darya_desktop.png")
            img(src="blocks/customer-reviews/img/customer-reviews_darya_desktop.png", alt="Customer photo")
          .customer-reviews__image-name Дарья
        li.customer-reviews__image
          picture
            source(media="(max-width: 576px)", srcset="blocks/customer-reviews/img/customer-reviews_darya_mobile.png 1x, blocks/customer-reviews/img/customer-reviews_darya_mobile@2x.png 2x")
            source(media="(min-width: 577px)", srcset="blocks/customer-reviews/img/customer-reviews_oleg_desktop.png")
            img(src="blocks/customer-reviews/img/customer-reviews_oleg_desktop.png", alt="Customer photo")
          .customer-reviews__image-name Олег
        li.customer-reviews__image
          picture
            source(media="(max-width: 576px)", srcset="blocks/customer-reviews/img/customer-reviews_darya_mobile.png 1x, blocks/customer-reviews/img/customer-reviews_darya_mobile@2x.png 2x")
            source(media="(min-width: 577px)", srcset="blocks/customer-reviews/img/customer-reviews_masha_desktop.png")
            img(src="blocks/customer-reviews/img/customer-reviews_masha_desktop.png", alt="Customer photo")
          .customer-reviews__image-name Маша
        li.customer-reviews__image
          picture
            source(media="(max-width: 576px)", srcset="blocks/customer-reviews/img/customer-reviews_darya_mobile.png 1x, blocks/customer-reviews/img/customer-reviews_darya_mobile@2x.png 2x")
            source(media="(min-width: 577px)", srcset="blocks/customer-reviews/img/customer-reviews_darya_desktop.png")
            img(src="blocks/customer-reviews/img/customer-reviews_darya_desktop.png", alt="Customer photo")
          .customer-reviews__image-name Елизавета
    .customer-reviews__review
      .customer-reviews__review-item.customer-reviews__review-item_active
        .customer-reviews__flag.customer-reviews__flag_italy
        .customer-reviews__name Дарья 1
        .customer-reviews__place Polimoda (Италия)
        .customer-reviews__text Очень понравилось качество и интенсивность программы на бакалавриате (программа «Дизайн одежды») и разнообразие занятий на магистратуре («Создание модной коллекции»). Я пришла сразу на последний год бакалавриата и очень довольна тем, как многому удалось научиться всего лишь за 9 месяцев. На магистратуре было гораздо больше самостоятельности, и это здорово. 
      .customer-reviews__review-item
        .customer-reviews__flag.customer-reviews__flag_cyprus
        .customer-reviews__name Олег
        .customer-reviews__place Никосия (Кипр)
        .customer-reviews__text Очень понравилось качество и интенсивность программы на бакалавриате (программа «Дизайн одежды») и разнообразие занятий на магистратуре («Создание модной коллекции»). Я пришла сразу на последний год бакалавриата и очень довольна тем, как многому удалось научиться всего лишь за 9 месяцев. На магистратуре было гораздо больше самостоятельности, и это здорово.
      .customer-reviews__review-item
        .customer-reviews__flag.customer-reviews__flag_italy
        .customer-reviews__name Маша
        .customer-reviews__place Polimoda (Италия)
        .customer-reviews__text Очень понравилось качество и интенсивность программы на бакалавриате (программа «Дизайн одежды») и разнообразие занятий на магистратуре («Создание модной коллекции»). Я пришла сразу на последний год бакалавриата и очень довольна тем, как многому удалось научиться всего лишь за 9 месяцев. На магистратуре было гораздо больше самостоятельности, и это здорово.
      .customer-reviews__review-item
        .customer-reviews__flag.customer-reviews__flag_cyprus
        .customer-reviews__name Дарья 4
        .customer-reviews__place Никосия (Кипр)
        .customer-reviews__text Очень понравилось качество и интенсивность программы на бакалавриате (программа «Дизайн одежды») и разнообразие занятий на магистратуре («Создание модной коллекции»). Я пришла сразу на последний год бакалавриата и очень довольна тем, как многому удалось научиться всего лишь за 9 месяцев. На магистратуре было гораздо больше самостоятельности, и это здорово. 
    .customer-reviews__navigation.navigation
      .navigation__arrow.navigation__arrow_left 
      .navigation__arrow.navigation__arrow_right