.content-login {
  max-width: 576px;
  min-width: 320px;
  width: 100%;
  margin: 93px auto;
  margin-bottom: 0;
  flex-flow: column nowrap;
  padding: 0 20px 158px 20px;
  background-color: #FFFFFF;
}
.content-login input[type="text"],
.content-login input[type="submit"],
.content-login input[type="tel"],
.content-login input[type="password"] {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 0;
  outline: none;
}
.content-login .content-login-items {
  display: none;
}
.content-login .row.title.mobile {
  margin-top: 25px;
  padding-right: 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 35px;
  background-color: inherit;
}
.content-login .row.title.mobile .content-login-mobile__sign,
.content-login .row.title.mobile .content-login-mobile__login {
  text-decoration: none;
  display: block;
  font-family: Bebas Neue;
  height: 46px;
  font-weight: bold;
  font-size: 36px;
  color: #004391;
}
.content-login .row.social {
  display: flex;
  height: 35px;
  margin-bottom: 47px;
}
.content-login .row.social .content-login-social__vk,
.content-login .row.social .content-login-social__fb {
  display: block;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
}
.content-login .row.social .content-login-social__vk {
  background-size: contain;
  margin-right: 20px;
  background-image: url(../img/svg-content/vk_blue.svg);
}
.content-login .row.social .content-login-social__vk:hover {
  background-image: url(../img/svg-content/vk_hover.svg);
  background-size: contain;
}
.content-login .row.social .content-login-social__fb {
  background-size: cover;
  background-position: center;
  background-image: url(../img/svg-content/fb_blue.svg);
}
.content-login .row.social .content-login-social__fb:hover {
  background-image: url(../img/svg-content/fb_hover.svg);
  background-size: cover;
  background-position: center;
}
.content-login .row.form-sign {
  display: none;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.content-login .row.form-sign .form-sign__title,
.content-login .row.form-sign .form-sign-social {
  display: none;
}
.content-login .row.form-sign .content-login-form-sign__label {
  display: block;
  margin-bottom: 3px;
  font-family: Open Sans;
  font-weight: bold;
  line-height: 24px;
  font-size: 16px;
  color: #004391;
}
.content-login .row.form-sign .content-login-form-sign__input {
  display: block;
  margin-bottom: 22px;
  width: 100%;
  height: 48px;
  border: 2px solid #004391;
  box-sizing: border-box;
  padding: 0 15px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #004391;
}
.content-login .row.form-sign .content-login-form-sign__label--error {
  display: none;
  position: absolute;
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  margin-top: -14px;
  margin-bottom: 35px;
  letter-spacing: -0.7px;
  font-size: 12px;
  color: #C82E2E;
}
.content-login .row.form-sign .capcha {
  margin: 0 auto;
  margin-top: 30px;
}
.content-login .row.form-sign .capcha .g-recaptcha {
  transform: scale(0.92);
  transform-origin: 0 0;
}
.content-login .row.form-sign .content-login-form-sign__button {
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 0;
  display: block;
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 35px;
  width: 260px;
  height: 48px;
  outline: none;
  border: none;
  text-transform: uppercase;
  background-color: #fff;
  /* border-bottom: 2px solid #DF5E16; */
  background-color: #DF5E16;
  font-family: Bebas Neue;
  line-height: 20px;
  font-size: 18px;
  letter-spacing: 4px;
  color: #FFFFFF;
}
.content-login .row.form-sign .content-login-form-sign__button:hover {
  background-color: #F58A4E;
}
.content-login .row.form-sign .content-login-form-sign-reg {
  margin-bottom: -120px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: flex-start;
}
.content-login .row.form-sign .content-login-form-sign-reg .content-login-form-sign-reg_lable .content-login-form-sign-reg__check-cust {
  position: relative;
  display: inline-block;
}
.content-login .row.form-sign .content-login-form-sign-reg .content-login-form-sign-reg_lable .content-login-form-sign-reg__check {
  display: none;
}
.content-login .row.form-sign .content-login-form-sign-reg .content-login-form-sign-reg_lable .content-login-form-sign-reg__check-cust {
  position: relative;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #004391;
  box-sizing: border-box;
}
.content-login .row.form-sign .content-login-form-sign-reg .content-login-form-sign-reg_lable .content-login-form-sign-reg__check:checked + .content-login-form-sign-reg__check-cust::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  background: #DF5E16;
  outline: 2px solid #FFFFFF;
  outline-offset: -2px;
}
.content-login .row.form-sign .content-login-form-sign-reg .content-login-form-sign-reg__inst {
  margin-left: 15px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 19.5px;
  font-size: 12px;
  color: #474A57;
}
.content-login .row.form-sign .content-login-form-sign-reg .content-login-form-sign-reg__inst a {
  font-weight: bold;
  text-decoration: underline;
}
.content-login .row.form-sign .content-login-form-sign-reg .content-login-form-sign-reg__inst a:visited {
  color: #474A57;
}
.content-login .row.form-log {
  display: none;
  flex-flow: column nowrap;
  justify-content: flex-start;
  display: flex;
}
.content-login .row.form-log .form-sign__title,
.content-login .row.form-log .form-sign-social {
  display: none;
}
.content-login .row.form-log .content-login-form-sign__label {
  display: block;
  margin-bottom: 3px;
  font-family: Open Sans;
  font-weight: bold;
  line-height: 24px;
  font-size: 16px;
  color: #004391;
}
.content-login .row.form-log .content-login-form-sign__input {
  display: block;
  margin-bottom: 22px;
  width: 100%;
  height: 48px;
  border: 2px solid #004391;
  box-sizing: border-box;
  padding: 0 15px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #004391;
}
.content-login .row.form-log .content-login-form-sign__label--error {
  display: none;
  position: absolute;
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  margin-top: -14px;
  margin-bottom: 35px;
  letter-spacing: -0.7px;
  font-size: 12px;
  color: #C82E2E;
}
.content-login .row.form-log .capcha {
  margin: 0 auto;
  margin-top: 30px;
}
.content-login .row.form-log .capcha .g-recaptcha {
  transform: scale(0.92);
  transform-origin: 0 0;
}
.content-login .row.form-log .content-login-form-sign__button {
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 0;
  display: block;
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 35px;
  width: 260px;
  height: 48px;
  outline: none;
  border: none;
  text-transform: uppercase;
  background-color: #fff;
  /* border-bottom: 2px solid #DF5E16; */
  background-color: #DF5E16;
  font-family: Bebas Neue;
  line-height: 20px;
  font-size: 18px;
  letter-spacing: 4px;
  color: #FFFFFF;
}
.content-login .row.form-log .content-login-form-sign__button:hover {
  background-color: #F58A4E;
}
.content-login .row.form-log .content-login-form-sign-reg {
  margin-bottom: -120px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: flex-start;
}
.content-login .row.form-log .content-login-form-sign-reg .content-login-form-sign-reg_lable .content-login-form-sign-reg__check-cust {
  position: relative;
  display: inline-block;
}
.content-login .row.form-log .content-login-form-sign-reg .content-login-form-sign-reg_lable .content-login-form-sign-reg__check {
  display: none;
}
.content-login .row.form-log .content-login-form-sign-reg .content-login-form-sign-reg_lable .content-login-form-sign-reg__check-cust {
  position: relative;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #004391;
  box-sizing: border-box;
}
.content-login .row.form-log .content-login-form-sign-reg .content-login-form-sign-reg_lable .content-login-form-sign-reg__check:checked + .content-login-form-sign-reg__check-cust::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  background: #DF5E16;
  outline: 2px solid #FFFFFF;
  outline-offset: -2px;
}
.content-login .row.form-log .content-login-form-sign-reg .content-login-form-sign-reg__inst {
  margin-left: 15px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 19.5px;
  font-size: 12px;
  color: #474A57;
}
.content-login .row.form-log .content-login-form-sign-reg .content-login-form-sign-reg__inst a {
  font-weight: bold;
  text-decoration: underline;
}
.content-login .row.form-log .content-login-form-sign-reg .content-login-form-sign-reg__inst a:visited {
  color: #474A57;
}
.content-login .row.form-log .form-log__title,
.content-login .row.form-log .form-log-social {
  display: none;
}
.content-login .row.form-log .content-login-form-log__label {
  display: block;
  margin-bottom: 3px;
  font-family: Open Sans;
  font-weight: bold;
  line-height: 24px;
  font-size: 16px;
  color: #004391;
}
.content-login .row.form-log .content-login-form-log__label--error {
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  margin-top: -14px;
  margin-bottom: 35px;
  letter-spacing: -0.7px;
  font-size: 12px;
  color: #C82E2E;
  display: none;
  position: absolute;
}
.content-login .row.form-log .content-login-form-log__input {
  display: block;
  margin-bottom: 22px;
  width: 100%;
  height: 48px;
  border: 2px solid #004391;
  box-sizing: border-box;
  padding: 0 15px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #004391;
}
.content-login .row.form-log .content-login-form-log__button {
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 0;
  display: block;
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 35px;
  width: 260px;
  height: 48px;
  outline: none;
  border: none;
  text-transform: uppercase;
  background-color: #fff;
  /* border-bottom: 2px solid #DF5E16; */
  background-color: #DF5E16;
  font-family: Bebas Neue;
  line-height: 20px;
  font-size: 18px;
  letter-spacing: 4px;
  color: #FFFFFF;
}
.content-login .row.form-log .content-login-form-log__button:hover {
  background-color: #F58A4E;
}
.content-login .row.form-log .content-login-form-log__button-link {
  text-decoration: none;
  display: block;
  width: 260px;
  height: 48px;
  margin: 0 auto;
  text-align: center;
  font-family: Bebas Neue;
  line-height: 48px;
  font-size: 18px;
  background-color: #fff;
  border-bottom: 2px solid #DF5E16;
  color: #333333;
  letter-spacing: 4px;
}
.content-login .row.form-log .content-login-form-log__button-link:hover {
  background-color: #F58A4E;
  color: #FFFFFF;
}
.content-login .row.form-log .content-login-form-log__button-link:visited {
  color: #333333;
}
@media (min-width: 577px) {
  .content-login {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    min-width: 577px;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 185px;
    padding: 11% 6.5%;
    padding-bottom: 15px;
  }
  .content-login .content-login-items {
    display: flex;
    position: absolute;
    top: 22px;
    left: 0;
  }
  .content-login .content-login-items .content-login-items__item {
    list-style-type: none;
  }
  .content-login .content-login-items .content-login-items__item::after {
    content: url(../img/svg-content/Arrow.svg);
    display: inline-block;
    margin: 0 20px;
  }
  .content-login .content-login-items .content-login-items__item:last-child::after {
    content: "";
  }
  .content-login .content-login-items .content-login-items__item .content-login-items__item-link {
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    font-size: 14px;
    color: #000000;
  }
  .content-login .content-login-items .content-login-items__item .content-login-items__item-link:hover {
    text-decoration: underline;
  }
  .content-login .row.title.mobile {
    display: none;
  }
  .content-login .row.social {
    display: none;
  }
  .content-login .row.form-sign,
  .content-login .row.form-log {
    display: flex;
    width: 231px;
  }
  .content-login .row.form-sign {
    margin-right: 16.5%;
  }
  .content-login .row.form-sign .form-sign__title {
    display: block;
    font-family: Bebas Neue;
    font-size: 24px;
    color: #DF5E16;
    margin-bottom: 31px;
  }
  .content-login .row.form-sign .form-sign-social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-left: 2px;
    margin-bottom: 28px;
  }
  .content-login .row.form-sign .form-sign-social .form-sign-social__vk,
  .content-login .row.form-sign .form-sign-social .form-sign-social__fb {
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
  }
  .content-login .row.form-sign .form-sign-social .form-sign-social__vk {
    background-size: contain;
    margin-right: 12px;
    background-image: url(../img/svg-content/vk_blue.svg);
  }
  .content-login .row.form-sign .form-sign-social .form-sign-social__vk:hover {
    background-image: url(../img/svg-content/vk_hover.svg);
    background-size: contain;
  }
  .content-login .row.form-sign .form-sign-social .form-sign-social__fb {
    background-size: cover;
    background-position: center;
    background-image: url(../img/svg-content/fb_blue.svg);
  }
  .content-login .row.form-sign .form-sign-social .form-sign-social__fb:hover {
    background-image: url(../img/svg-content/fb_hover.svg);
    background-size: cover;
    background-position: center;
  }
  .content-login .row.form-sign .content-login-form-sign__label {
    font-size: 14px;
  }
  .content-login .row.form-sign .content-login-form-sign__label--error {
    display: none;
    position: absolute;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    margin-top: -14px;
    margin-bottom: 35px;
    letter-spacing: -0.7px;
    font-size: 12px;
    color: #C82E2E;
  }
  .content-login .row.form-sign .content-login-form-sign__input {
    margin-bottom: 19px;
  }
  .content-login .row.form-sign .content-login-form-sign__input[name="pass"] {
    margin-bottom: 19px;
  }
  .content-login .row.form-sign .content-login-form-sign__input[placeholder="user@example.ru"],
  .content-login .row.form-sign .content-login-form-sign__input[placeholder="+7(___) ___ __ __"] {
    font-style: italic;
  }
  .content-login .row.form-sign .content-login-form-sign__input {
    position: relative;
    height: 40px;
    font-style: italic;
  }
  .content-login .row.form-sign .capcha {
    width: 322px;
    height: 78px;
    margin-top: 25px;
  }
  .content-login .row.form-sign .capcha .g-recaptcha {
    transform: scale(1.06);
    transform-origin: 0 0;
  }
  .content-login .row.form-sign .content-login-form-sign__button {
    font-size: 14px;
    width: 226px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 28px;
  }
  .content-login .row.form-sign .content-login-form-sign-reg {
    width: 250px;
    justify-content: flex-start;
  }
  .content-login .row.form-sign .content-login-form-sign-reg .content-login-form-sign-reg_lable .content-login-form-sign-reg__check-cust {
    width: 15px;
    height: 15px;
  }
  .content-login .row.form-sign .content-login-form-sign-reg .content-login-form-sign-reg__inst {
    display: block;
    margin-left: 10px;
    margin-top: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
    font-size: 10px;
    color: #828282;
  }
  .content-login .row.form-sign .content-login-form-sign-reg .content-login-form-sign-reg__inst a {
    color: #828282;
  }
  .content-login .row.form-sign .content-login-form-sign-reg .content-login-form-sign-reg__inst a:visited {
    color: #828282;
    font-weight: normal;
  }
  .content-login .row.form-log .form-log__title {
    display: block;
    font-family: Bebas Neue;
    font-size: 24px;
    color: #DF5E16;
    margin-bottom: 31px;
  }
  .content-login .row.form-log .form-log-social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-left: 2px;
    margin-bottom: 28px;
  }
  .content-login .row.form-log .form-log-social .form-log-social__vk,
  .content-login .row.form-log .form-log-social .form-log-social__fb {
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
  }
  .content-login .row.form-log .form-log-social .form-log-social__vk {
    background-size: contain;
    margin-right: 12px;
    background-image: url(../img/svg-content/vk_blue.svg);
  }
  .content-login .row.form-log .form-log-social .form-log-social__vk:hover {
    background-image: url(../img/svg-content/vk_hover.svg);
    background-size: contain;
  }
  .content-login .row.form-log .form-log-social .form-log-social__fb {
    background-size: cover;
    background-position: center;
    background-image: url(../img/svg-content/fb_blue.svg);
  }
  .content-login .row.form-log .form-log-social .form-log-social__fb:hover {
    background-image: url(../img/svg-content/fb_hover.svg);
    background-size: cover;
    background-position: center;
  }
  .content-login .row.form-log .content-login-form-log__label {
    font-size: 14px;
  }
  .content-login .row.form-log .content-login-form-log__label--error {
    display: none;
    position: absolute;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    margin-top: -14px;
    margin-bottom: 35px;
    letter-spacing: -0.7px;
    font-size: 12px;
    color: #C82E2E;
  }
  .content-login .row.form-log .content-login-form-log__input[name="pass"] {
    margin-bottom: 25px;
  }
  .content-login .row.form-log .content-login-form-log__input {
    height: 40px;
    font-style: italic;
  }
  .content-login .row.form-log .content-login-form-log__input[placeholder="user@example.ru"] {
    font-style: italic;
  }
  .content-login .row.form-log .content-login-form-log__button {
    display: block;
    font-size: 14px;
    line-height: 14px;
    width: 226px;
    height: 40px;
  }
  .content-login .row.form-log .content-login-form-log__button[value="Вход"] {
    margin-bottom: 10px;
  }
  .content-login .row.form-log .content-login-form-log__button-link {
    width: 226px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    font-family: Bebas Neue;
    line-height: 40px;
    font-size: 14px;
  }
  .content-login .row.form-log .content-login-form-log__button-link:hover {
    background-color: #F58A4E;
    color: #FFFFFF;
  }
}
