
.footer {
	background-color: #004391;
}

.button__action {
	display: block;
	border: none;
	background-color: #DF5E16;
}

.button__action a {
	color: #FFFFFF;
}

@media (max-width: 576px) {
	.footer {
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
	}
}

.footer__top {
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 15px 28px 0;
}

@media (max-width: 576px) {
	.footer__top {
		max-width: 320px;
		display: block;
		padding: 0;
		background: #004391;
	}
}

.footer-logo-button__wrapper {
	max-width: 203px;
	margin-left: 11px;
}

.footer-logo {
	display: block;
	width: 203px;
	height: 50px;
	margin-top: 36px;
	background-image: url(../img/logo_white.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

@media (max-width: 576px) {
	.footer-logo {
		display: block;
		width: 203px;
		height: 50px;
	    margin: 47px -16px 0;
	}
}

.button__action.franchise {
    width: 100%;
    max-width: 163px;
	margin-top: 77px;
	padding: 1px 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	line-height: 26px;
	font-size: 12px;
	color: #F2F2F2;
	letter-spacing: 0.6px;
	text-align: center;
}

@media (max-width: 576px) {
	.button__action.franchise {
		display: none;
	}
}

.button__action.franchise:hover {
	background: #F58A4E;
}

.footer-menu__wrapper {
	max-width: 100%;
}

@media (max-width: 576px) {
	.footer-menu__wrapper {
		max-width: 320px;
		margin: 0 auto;
	}
}

.footer-menu__items {
	width: 100%;
	max-width: 390px;
	display: flex;
	justify-content: space-between;
	list-style: none;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 18px;
	line-height: 26px;
	padding-top: 36px;
}

@media (max-width: 576px) {
	.footer-menu__items {
		display: flex;
		justify-content: space-between;
		margin-top: 69px;
    	padding: 0;
	}
}

.items_block-1 {
	margin-left: 40px;
}

@media (max-width: 576px) {
	.items_block-1 {
		margin-left: -4px;
		font-family: 'Bebas Neue', sans-serif;
		font-size: 18px;
		font-weight: bold;
	}
}

.items_block-2 {
	margin-right: 16px;
}

@media (max-width: 576px) {
	.items_block-2 {
		margin-right: -3px;
		font-family: 'Bebas Neue', sans-serif;
		font-size: 18px;
		font-weight: bold;
	}
}

.footer-menu__item {
	padding: 10px;
}

@media (max-width: 576px) {
	.footer-menu__item {
		padding: 0px 3px 14px 3px;
	}
}
.footer-menu__item:nth-child(n+2) {
	padding-top: 18px;
}

.footer-menu__item a {
	display: inline-block;
	color: #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
}

@media (max-width: 576px) {
	.footer-menu__item a {
		text-transform: uppercase;
		text-decoration: none;
		color: #FFFFFF;
		border: none;
	}
}

.footer-menu__item a:hover {
	border-bottom: 2px solid #DF5E16;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
}

@media (max-width: 576px) {
	.footer__contacts {
		max-width: 320px;
		display: flex;
		flex-direction: column;
	}
}

.footer__contacts .button__action {
	position: relative;
	top: 0;
	left: 0;
}

.footer__contacts .free-line {
	width: 100%;
    max-width: 123px;
    margin-top: 4px;
    margin-left: 33px;
    padding: 2px 0;
	background: #DF5E16;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF
}

@media (max-width: 576px) {
	.footer__contacts .free-line {
	    max-width: 140px;
		margin: 10px auto 0;
		padding: 4px 7px;
		border: none;
		background: #DF5E16;
	}
}

.footer__contacts .free-line:hover {
	background: #F58A4E;
}

.footer__phone {
	margin-top: 36px;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	text-align: center;
}

@media (max-width: 576px) {
	.footer__phone {
		display: block;
		max-width: 320px;
		margin: 56px auto 0px;
		font-size: 34px;
		text-decoration: none;
		color: #FFFFFF;
		letter-spacing: 0.2px;
	}
	.footer__phone a {
	color: #FFFFFF;
	}
}

.footer__social-links {
	display: flex;
	width: 80%;
	margin-left: 16px;
	margin-top: 40px;
	justify-content: space-between;
}

@media (max-width: 576px) {
	.footer__social-links {
		display: flex;
		width: 100%;
		max-width: 320px;
		margin: 51px auto 0;
	}
}

.footer__social-link {
	width: 25px;
	height: 25px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0 0;
}

@media (max-width: 576px) {
	.footer__social-link {
		width: 32px;
		height: 32px;
		margin-left: 8px;
		margin-right: 9px;
	}
}

.footer__social-link.footer__social-link_instagram {
	background-image: url(../img/svg-content/instagram.svg);
}

.footer__social-link.footer__social-link_instagram:hover {
	background-image: url(../img/svg-content/instagram_hover.svg);
}

.footer__social-link.footer__social-link_fb {
	background-image: url(../img/svg-content/fb.svg);
}

.footer__social-link.footer__social-link_fb:hover {
	background-image: url(../img/svg-content/fb_hover.svg);
}

.footer__social-link.footer__social-link_youtube {
	background-image: url(../img/svg-content/youtube.svg);
}

.footer__social-link.footer__social-link_youtube:hover {
	background-image: url(../img/svg-content/youtube_hover.svg);
}

.footer__social-link.footer__social-link_vk {
	background-image: url(../img/svg-content/vk.svg);
}

.footer__social-link.footer__social-link_vk:hover {
	background-image: url(../img/svg-content/vk_hover.svg);
}

a.subscribe__submit {
	display: inline-block;
	position: relative;
	top: 9px;
	left: -24px;
	padding-bottom: 4px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: #FFFFFF;
	border: none;
	border-bottom: 2px solid #DF5E16;
}

@media (max-width: 576px) {
	a.subscribe__submit {
		display: none;
	}
}

.footer__bottom {
	width: 100%;
	background: #FFFFFF;
}

@media (max-width: 576px) {
	.footer__bottom {
		margin-top: 33px;
		padding-bottom: 15px;
		text-align: center;
		background: #DF5E16;
		color: #FFFFFF;
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
	}
}

@media (max-width: 576px) {
	.copyright {
		margin: 0;
		padding-top: 15px;
		letter-spacing: 0.5px;
	}
}

@media (max-width: 576px) {
	br {
		display: none;
	}
}

span.comp-name {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.6px;
}

@media (max-width: 576px) {
	span.comp-name {
		display: block;
		margin: 0 auto;
		padding-top: 15px;
		font-size: 12px;
  		letter-spacing: 0.4px;
	}
}

.footer__copyright {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	padding-top: 11px;
}

@media (max-width: 576px) {
		.footer__copyright {
		padding-left: 0;
		padding-top: 0;

	}
}

.footer__copyright p {
	padding: 0;
	margin: 0;
}

.footer__made-by {
	width: 100%;
	max-width: 250px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #DF5E16;
}

@media (max-width: 576px) {
	.footer__made-by {
		max-width: 320px;
		margin: 0 auto;
		padding: 0;
		background-color: #DF5E16;
		color: #FFFFFF;
	}
}

.footer__made-by p {
	padding: 0;
	margin: 18px auto;
	text-align: center;
}

@media (max-width: 576px) {
	.footer__made-by p {
		padding-top: 4px;
		margin: 0;
		font-size: 12px;
	}
}

.license {
	position: relative;
	bottom: 10px;
}
@media (max-width: 576px) {
	.license {
		display: none;
	}
}

.developer {
	display: block;
	margin: 0 auto;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.developer span {
	display: inline-block;
	border-bottom: 2px solid #FFFFFF;
}
  
.footer__wrapper {
	display: flex;
	justify-content: space-between;
}
@media (max-width: 576px) {
	.footer__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
