@media (max-width: 576px) {
  .header {
    position: relative;
    width: 100%;
    min-width: 320px;
    padding-left: 35px;
    background-color: #ffffff;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-block {
  min-height: 50px;
  padding-top: 3px;
  height: 1px;
  font-size: 14px;
  color: #004391;
  background-color: #ffffff;
}
@media (max-width: 576px) {
  .top-block {
    display: none;
  }
}
.top-block__city {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.top-block__city i {
  margin-right: 15px;
  font-size: 1.3em;
}
@media (max-width: 576px) {
  .top-block__city i {
    color: #DF5E16;
  }
}
@media (max-width: 576px) {
  .top-block__city span {
    border-bottom: dashed 1.5px;
  }
}
.top-block__city:hover {
  color: #F36C21;
}
@media (max-width: 576px) {
  .top-block__city {
    position: absolute;
    top: 83px;
    left: 36px;
    display: flex;
    align-items: center;
    z-index: 110;
    height: unset;
    width: unset;
    font-weight: bold;
    font-size: 18px;
    color: #004391;
  }
}
.top-block__fill {
  flex: 1;
}
.top-block__phone {
  margin-right: 45px;
  padding-top: 3px;
  font-family: 'Bebas Neue';
  font-size: 18px;
  font-weight: bold;
  color: #DF5E16;
}
.top-block__phone a {
  color: #DF5E16;
}
.top-block__popups {
  display: flex;
  min-width: 25.2%;
}
.top-block__item {
  margin-left: 1px;
  margin-right: 10px;
  text-align: right;
}
.top-block__item i {
  margin-right: 17px;
  font-size: 1.3em;
}
@media (min-width: 577px) {
  .top-block__item i {
    margin-left: 9px;
  }
}
.top-block__item:hover {
  color: #DF5E16;
  cursor: pointer;
}
.top-block__item_favorite {
  flex: 1;
  padding-right: 7px;
}
@media (min-width: 577px) {
  .hidden-menu {
    display: none;
    padding: 10px 0;
    background-color: #FFFFFF;
  }
}
@media (max-width: 576px) {
  .hidden-menu {
    display: none;
    min-height: 1055px;
  }
}
@media (min-width: 577px) {
  .hidden-menu__logo img {
    height: 49px;
  }
}
@media (min-width: 577px) {
  .hidden-menu__logo {
    padding-top: 16px;
  }
}
@media (max-width: 576px) {
  .hidden-menu__logo {
    position: absolute;
    top: 2px;
    left: -24px;
    z-index: 110;
    transform: scale(0.6);
  }
}
.hidden-menu__popups i:hover {
  cursor: pointer;
}
@media (min-width: 577px) {
  .hidden-menu__popups i {
    font-size: 9px;
  }
}
@media (min-width: 577px) {
  .hidden-menu__popups input {
    width: 285px;
    height: 15px;
    font-size: 10px;
    color: #004391;
    border: none;
    border-bottom: solid 1px #004391;
    outline: none;
  }
}
.hidden-menu__popups input::placeholder {
  font-size: 10px;
  color: #004391;
  margin-left: 222px;
}
@media (min-width: 577px) {
  .hidden-menu__popups {
    display: none;
    justify-content: flex-end;
    flex: 1;
    font-size: 10px;
    color: #004391;
  }
}
@media (max-width: 576px) {
  .hidden-menu__popups {
    position: absolute;
    flex-wrap: wrap;
    top: 170px;
    min-width: unset;
    z-index: 110;
  }
}
@media (max-width: 576px) {
  .hidden-menu__item i {
    margin-left: 20px;
    color: #F36C21;
  }
}
@media (min-width: 577px) {
  .hidden-menu__item {
    margin-left: 20px;
  }
}
@media (max-width: 576px) {
  .hidden-menu__item {
    font-weight: bold;
    font-size: 18px;
    color: #004391;
    text-align: left;
  }
}
@media (min-width: 577px) {
  .hidden-menu__item:first-child {
    margin-right: 80px;
  }
}
@media (max-width: 576px) {
  .hidden-menu__item_login i {
    position: absolute;
    left: -50px;
    color: #F36C21;
  }
}
@media (max-width: 576px) {
  .hidden-menu__item_login {
    position: relative;
    order: -1;
    margin-left: 30px;
    flex-basis: 100%;
  }
}
@media (max-width: 576px) {
  .hidden-menu__item_input input {
    width: 235px;
    font-size: 14px;
    color: #DF5E16;
    outline: none;
    border: none;
    border-bottom: Solid 2px#004391;
  }
  .hidden-menu__item_input input::placeholder {
    font-size: 14px;
    color: #DF5E16;
  }
}
.hidden-menu__item_input i {
  margin-left: 8px;
  font-size: 1em;
  color: #004391;
}
@media (max-width: 576px) {
  .hidden-menu__item_input {
    order: 5;
    margin-top: 57px;
    margin-right: 0;
    flex-basis: 100%;
  }
}
.hidden-menu__item_favorite i {
  margin-left: 10px;
  font-size: 1em;
}
@media (max-width: 576px) {
  .hidden-menu__item_favorite {
    flex-basis: 28%;
    margin-top: 52px;
  }
}
@media (max-width: 576px) {
  .hidden-menu__item_cart i {
    margin-left: 33px;
    font-size: 1.1em;
  }
}
@media (max-width: 576px) {
  .hidden-menu__item_cart {
    margin-top: 52px;
  }
}
.hidden-menu__menu:hover {
  cursor: pointer;
}
@media (min-width: 577px) {
  .hidden-menu__menu {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 15px 60px 13px 18px;
    font-family: Bebas Neue;
    font-size: 18px;
    letter-spacing: 4px;
    color: #004391;
    background-image: url(../img/hidden-menu__logo.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    border: 2px solid #004391;
  }
}
.hidden-menu__close:hover {
  cursor: pointer;
}
@media (min-width: 577px) {
  .hidden-menu__close {
    position: absolute;
    top: -8px;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #004391;
    color: #ffffff;
  }
}
@media (min-width: 577px) {
  .hidden-menu__close-pic {
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    background-image: url(../img/hidden-menu__close.png);
    background-size: cover;
  }
}
@media (min-width: 577px) {
  .hidden-menu_visible {
    position: fixed;
    top: 0;
    display: block;
    z-index: 110;
    width: 100%;
    height: auto;
    animation: fade-in 1s ease;
  }
}
.menu-block {
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  height: 1px;
  background-color: #004391;
}
@media (max-width: 576px) {
  .menu-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}
.menu-block__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding-top: 5px;
}
.menu-block__logo i {
  margin: 0 0 8px 26px;
  font-size: 1.1em;
  color: #ffffff;
}
.menu-block__logo i:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  .menu-block__logo {
    margin-left: 20px;
  }
}
@media (min-width: 577px) {
  .menu-block__menu-pic {
    display: none;
  }
}
@media (max-width: 576px) {
  .menu-block__menu-pic {
    display: block;
    width: 24px;
    height: 100%;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: contain;
    background-image: url(../img/menu-block__menu-pic.png);
  }
  .menu-block__menu-pic:hover {
    cursor: pointer;
  }
  .menu-block__menu-pic_close {
    display: none;
  }
}
@media (min-width: 577px) {
  .menu-block__contacts {
    display: none;
  }
}
@media (max-width: 576px) {
  .menu-block__contacts {
    display: none;
    position: absolute;
    left: 30px;
    top: 676px;
  }
}
@media (min-width: 577px) {
  .menu-block__menu {
    width: 682px;
    height: 100%;
    margin-right: 3px;
  }
}
.menu-block_from-hidden {
  position: fixed;
  top: 0;
  z-index: 105;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.menu-block_from-hidden .wrapper {
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 140px;
}
@media (max-width: 576px) {
  .menu-block_from-hidden .wrapper {
    align-items: flex-start;
  }
}
@media (min-width: 577px) {
  .menu-block_from-hidden .contacts {
    display: flex;
    flex-direction: column;
    max-height: 450px;
    margin-right: 131px;
  }
}
.menu-block_from-hidden .contacts__text {
  font-size: 10px;
  color: #004391;
}
@media (max-width: 576px) {
  .menu-block_from-hidden .contacts__text {
    font-weight: bold;
    font-size: 14px;
  }
}
.menu-block_from-hidden .contacts__info {
  margin-bottom: 30px;
  font-family: Bebas Neue;
  font-weight: bold;
  font-size: 24px;
  color: #F36C21;
}
.menu-block_from-hidden .contacts__info a {
  color: #F36C21;
}
@media (max-width: 576px) {
  .menu-block_from-hidden .contacts__info {
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: 34px;
  }
}
.menu-block_from-hidden .contacts__social-links {
  display: flex;
  margin-top: 8px;
}
.menu-block_from-hidden .contacts__social-links > a:not(:first-child) {
  margin-left: 23px;
}
@media (max-width: 576px) {
  .menu-block_from-hidden .contacts__social-links > a:not(:first-child) {
    margin-left: 27px;
  }
}
@media (max-width: 576px) {
  .menu-block_from-hidden .contacts__social-links {
    margin-top: 20px;
  }
}
.menu-block_from-hidden .contacts__social-link {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
@media (max-width: 576px) {
  .menu-block_from-hidden .contacts__social-link {
    width: 40px;
    height: 40px;
  }
}
.menu-block_from-hidden .contacts__social-link_fb {
  background-image: url(../img/svg-content/fb_blue.svg);
}
@media (min-width: 577px) {
  .menu-block_from-hidden .contacts__social-link_fb:hover {
    background-image: url(../img/svg-content/fb_hover.svg);
  }
}
.menu-block_from-hidden .contacts__social-link_youtube {
  background-image: url(../img/svg-content/youtube_blue.svg);
}
@media (min-width: 577px) {
  .menu-block_from-hidden .contacts__social-link_youtube:hover {
    background-image: url(../img/svg-content/youtube_hover.svg);
  }
}
.menu-block_from-hidden .contacts__social-link_vk {
  background-image: url(../img/svg-content/vk_blue.svg);
}
@media (min-width: 577px) {
  .menu-block_from-hidden .contacts__social-link_vk:hover {
    background-image: url(../img/svg-content/vk_hover.svg);
  }
}
.menu-block_from-hidden .contacts__social-link_instagram {
  background-image: url(../img/svg-content/instagram_blue.svg);
}
@media (min-width: 577px) {
  .menu-block_from-hidden .contacts__social-link_instagram:hover {
    background-image: url(../img/svg-content/instagram_hover.svg);
  }
}
.menu-block_from-hidden .contacts__item_social-media {
  margin-top: 170px;
  font-family: Bebas Neue;
  font-size: 18px;
  color: #004391;
}
@media (max-width: 576px) {
  .menu-block_from-hidden .contacts__item_social-media {
    margin-top: 63px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
  }
}
.menu-block_from-hidden .main-menu {
  display: block;
}
@media (min-width: 577px) {
  .menu-block_from-hidden .main-menu {
    width: unset;
  }
}
@media (max-width: 576px) {
  .menu-block_from-hidden .main-menu {
    width: calc(65%);
  }
}
.menu-block_from-hidden .main-menu__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  flex-direction: row;
  max-height: 250px;
}
@media (min-width: 577px) {
  .menu-block_from-hidden .main-menu__items {
    max-width: 800px;
  }
}
@media (max-width: 576px) {
  .menu-block_from-hidden .main-menu__items {
    max-height: unset;
  }
}
.menu-block_from-hidden .main-menu__item {
  position: static;
  flex-basis: 25%;
  margin-bottom: 30px;
}
.menu-block_from-hidden .main-menu__item a {
  font-family: Bebas Neue;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-height: inherit;
  color: #004391;
}
@media (max-width: 576px) {
  .menu-block_from-hidden .main-menu__item a:hover {
    color: #DF5E16;
  }
}
@media (max-width: 576px) {
  .menu-block_from-hidden .main-menu__item a {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .menu-block_from-hidden .main-menu__item {
    width: 50%;
    flex-basis: 50%;
    margin-bottom: 35px;
    /*           margin-right: 68px; */
  }
}
@media (min-width: 577px) {
  .menu-block_from-hidden .main-menu__item_about {
    order: 0;
  }
}
@media (min-width: 577px) {
  .menu-block_from-hidden .main-menu__item_programs {
    order: 1;
    flex-basis: 23%;
  }
}
@media (min-width: 577px) {
  .menu-block_from-hidden .main-menu__item_service {
    order: 2;
  }
}
@media (min-width: 577px) {
  .menu-block_from-hidden .main-menu__item_schools {
    order: 5;
    flex-basis: 23%;
  }
}
@media (min-width: 577px) {
  .menu-block_from-hidden .main-menu__item_countries {
    order: 4;
  }
}
@media (min-width: 577px) {
  .menu-block_from-hidden .main-menu__item_blog {
    order: 3;
  }
}
@media (min-width: 577px) {
  .menu-block_from-hidden .main-menu__item_contacts {
    order: 6;
  }
}
.menu-block_from-hidden .main-menu__subitems {
  position: static;
  display: block;
  padding: 0;
  border: none;
  list-style: none;
}
.menu-block_from-hidden .main-menu__subitems a {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: normal;
  color: #000000;
  text-transform: unset;
  white-space: nowrap;
}
.menu-block_from-hidden .main-menu__subitems a:hover {
  color: #DF5E16;
}
@media (max-width: 576px) {
  .menu-block_from-hidden .main-menu__subitems {
    display: none;
  }
}
.menu-block_from-hidden .main-menu__subitem {
  margin-top: 5px;
}
.menu-block_from-hidden .main-menu__subitem::first-letter {
  text-transform: uppercase;
}
@media (min-width: 577px) {
  .menu-block_from-hidden .menu-block__logo {
    display: none;
  }
}
@media (max-width: 576px) {
  .menu-block_from-hidden .menu-block__logo {
    display: none;
  }
}
@media (max-width: 576px) {
  .menu-block_from-hidden .menu-block__menu-pic_close {
    position: absolute;
    right: 26px;
    top: 12px;
    display: inline-block;
    color: #F36C21;
  }
}
.menu-block_from-hidden .menu-block__contacts {
  display: block;
}
@media (max-width: 576px) {
  .menu-block_from-hidden {
    position: absolute;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .main-menu {
    display: none;
    position: absolute;
    left: 35px;
    top: 425px;
  }
}
@media (min-width: 577px) {
  .main-menu__items {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
}
@media (max-width: 576px) {
  .main-menu__items {
    display: none;
  }
}
.main-menu__item a {
  font-family: Bebas Neue;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}
.main-menu__item a:hover {
  color: #DF5E16;
}
.main-menu__item:hover {
  cursor: pointer;
}
@media (min-width: 577px) {
  .main-menu__item:hover > ul {
    display: block;
  }
}
@media (min-width: 577px) {
  .main-menu__item:hover > a {
    color: #DF5E16;
  }
}
@media (min-width: 577px) {
  .main-menu__item {
    position: relative;
    height: 100%;
  }
  .main-menu__item a {
    line-height: 50px;
  }
}
@media (min-width: 577px) {
  .main-menu__subitems a {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #000000;
    text-transform: unset;
    white-space: nowrap;
  }
}
@media (min-width: 577px) {
  .main-menu__subitems a:hover {
    color: #DF5E16;
    text-decoration: underline;
  }
}
@media (min-width: 577px) {
  .main-menu__subitems {
    position: absolute;
    display: none;
    top: 49px;
    left: -17px;
    z-index: 5;
    padding: 12px 70px 30px 17px;
    background: #FFFFFF;
    border: 1px solid #004391;
    box-sizing: border-box;
    list-style: none;
  }
}
@media (min-width: 577px) {
  .main-menu__subitems_visible {
    display: block;
  }
}
@media (min-width: 577px) {
  .main-menu__subitem {
    margin-top: 5px;
  }
}
.main-menu__subitem::first-letter {
  text-transform: uppercase;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
