a {
	text-decoration: none;
	color: #FFFFFF;
}

.restore {
	position: relative;
	width: 100%;
	max-width: 1280px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0 auto;
}

@media (max-width: 576px) {
	.restore {
		max-width: 280px;
		flex-direction: column;
		margin: 0 auto;
	}
}

.restore__wrapper {
	margin-top: 130px;
	margin-left: 128px;
	margin-bottom: 70px;
}

@media (max-width: 576px) {
	.restore__wrapper {
		margin: 0;
		padding-top: 94px;
		padding-bottom: 32px;
	}
}

.restore-title__wrapper {
	display: flex;
	justify-content: space-between;
	max-width: 309px;
}

@media (max-width: 576px) {
	.restore-title__wrapper {
		flex-direction: column;
	}
}

.restore__title {
	margin: 0;
	font-family: Bebas Neue;
	font-size: 23px;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	color: #DF5E16;
}

@media (max-width: 576px) {
	.restore__title {
		margin: 0;
		font-family: Bebas Neue;
		font-size: 36px;
		line-height: 1.1;
		text-transform: uppercase;
		letter-spacing: 0;
		color: #DF5E16;
	}
}

.restore__subtitle {
	font-family: Bebas Neue;
	font-size: 24px;
	color: #828282;
}

@media (max-width: 576px) {
	.restore__subtitle {
		margin: 0;
		padding-top: 30px;
	}
}

.restore-text__wrapper {
	width: 100%;
	max-width: 435px;
}

.step-description {
	padding-top: 38px;
	font-family: Open Sans;
	font-size: 16px;
	font-weight: 900;
	letter-spacing: -0.45px;
	color: #1D1B20;
}

@media (max-width: 576px) {
	.step-description {
		max-width: 259px;
		padding-top: 30px;
		line-height: 24px;
		letter-spacing: 0.8px;
	}
}

.confidence-policy {
	padding-top: 17px;
	max-width: 318px;
	font-family: Open Sans;
	font-size: 13px;
	color: #1D1B20;
	letter-spacing: -0.6px;
}

@media (max-width: 576px) {
	.confidence-policy {
		padding-top: 26px;
		max-width: 267px;
		font-family: Open Sans;
		font-size: 14px;
		color: #1D1B20;
		line-height: 21px;
		letter-spacing: 0;
	}
}

.confidence-policy__link {
	font-family: Open Sans;
	font-size: 13px;
	color: #DF5E16;
}

@media (max-width: 576px) {
	.confidence-policy__link {
		font-size: 14px;
		letter-spacing: -0.1px;
	}
}

.confidence-policy__link:hover {
	text-decoration: underline;
}

.reset__form {
	position: relative;
	display: flex;
	max-width: 227px;
	flex-direction: column;
}

@media (max-width: 576px) {
	.reset__form {
		display: flex;
		width: 100%;
		max-width: 320px;
		margin: 0 auto;
		flex-direction: column;
	}
}

.e-mail__title {
	margin: 0;
	padding-top: 35px;
	padding-bottom: 4px;
	font-family: Open Sans;
	font-size: 16px;
	font-weight: 900;
	color: #004391;
}

@media (max-width: 576px) {
	.e-mail__title {
		padding-top: 45px;
		padding-bottom: 6px;
	}
}

.e-mail__field {
	padding: 0 10px;
	max-width: 280px;
	height: 38px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: italic;
	color: #000000;
	border-radius: 0;
	border: 1px solid #004391;
}

@media (max-width: 576px) {
	.e-mail__field {
		padding: 0 10px;
		max-width: 280px;
		height: 45px;
		border-radius: 0;
		border: 1px solid #004391;
	}
}

.button-action__reset-password {
	width: 100%;
	max-width: 280px;
	height: auto;
	margin: 30px 0;
	padding: 13px 0;
	font-family: Bebas Neue;
	font-size: 15px;
	color: #FFFFFF;
	background: #DF5E16;
	border: none;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	cursor: pointer;
}

.button-action__reset-password:hover {
	background: #F58A4E;
}

@media (max-width: 576px) {
	.button-action__reset-password {
		margin: 32px 0;
		padding: 17px 0;
		letter-spacing: 5.3px;
		-webkit-appearance: unset;
		border-radius: 0;
	}
}

/*Стили для второго шага*/

.confidence-policy-2 {
	padding-top: 17px;
	max-width: 318px;
	font-family: Open Sans;
	font-size: 13px;
	color: #1D1B20;
	letter-spacing: -0.6px;
}

@media (max-width: 576px) {
	.confidence-policy-2 {
		padding-top: 35px;
		max-width: 267px;
		font-family: Open Sans;
		font-size: 14px;
		color: #1D1B20;
		line-height: 21px;
		letter-spacing: 0;
	}
}

.restore__form {
	display: flex;
	max-width: 226px;
	padding-top: 37px;
	flex-direction: column;
}

@media (max-width: 576px) {
	.restore__form {
		display: flex;
		max-width: 280px;
		padding-top: 46px;
		flex-direction: column;
	}
}

.new-password__title,
.new-password-repeat__title {
	margin-bottom: 5px;
	font-family: Open Sans;
	font-size: 15px;
	font-weight: 900;
	color: #004391;
}

@media (max-width: 576px) {
	.new-password__title,
	.new-password-repeat__title {
		margin-bottom: 8px;
		font-family: Open Sans;
		font-size: 15px;
		font-weight: 900;
		color: #004391;
		letter-spacing: 1.4px;
	}
}

.new-password__field,
.new-password-repeat__field {
	margin-bottom: 25px;
	padding: 0 10px;
	max-width: 280px;
	height: 38px;
	border-radius: 0;
	border: 1px solid #004391;
}

@media (max-width: 576px) {
	.new-password__field,
	.new-password-repeat__field {
		margin-bottom: 25px;
		padding: 0 10px;
		max-width: 280px;
		height: 45px;
		border-radius: 0;
		border: 1px solid #004391;
	}
}

.button-action__save-password {
	width: 100%;
	max-width: 280px;
	height: auto;
	margin: 5px auto 25px;
	padding: 12px 0;
	font-family: Bebas Neue;
	font-size: 16px;
	color: #FFFFFF;
	background: #DF5E16;
	border: none;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
}

.button-action__save-password:hover {
	background: #F58A4E;
}

@media (max-width: 576px) {
	.button-action__save-password {
		margin: 5px auto 36px;
		padding: 16px 0;
		font-size: 17px;
		letter-spacing: 4.4px;
	}
}

/*Стили успешной смены пароля*/

.step-description-3 {
	max-width: 347px;
	padding-top: 40px;
	font-family: Open Sans;
	font-size: 15px;
	font-weight: 900;
	letter-spacing: 0;
	color: #1D1B20;
}

@media (max-width: 576px) {
	.step-description-3 {
		max-width: 273px;
		padding-top: 35px;
		font-family: Open Sans;
		font-size: 18px;
		font-weight: 900;
		letter-spacing: -0.45px;
		color: #1D1B20;
	}
}

.log-in__wrapper {
	width: 100%;
	padding: 60px 0 84px 0;
}

@media (max-width: 576px) {
	.log-in__wrapper {
		width: 100%;
		padding: 76px 0 51px 0;
	}
}

.button-action__log-in {
	max-width: 280px;
	margin-bottom: 0;
	padding: 14px 38px;
	font-family: Bebas Neue;
	font-size: 14px;
	color: #FFFFFF;
	background: #DF5E16;
	border: none;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	cursor: pointer;
}

.button-action__log-in:hover {
	background: #F58A4E;
}

@media (max-width: 576px) {
	.button-action__log-in {
		max-width: 280px;
		padding: 14px 25px;
		font-size: 18px;
		letter-spacing: 3.7px;
	}
}

.e-mail__error {
	display: none;
	position: absolute;
	top: 100px;
	font-style: italic;
	letter-spacing: -0.7px;
	font-size: 12px;
	color: #C82E2E;
}

@media (max-width: 576px) {
	.e-mail__error {
		top: 120px;
	}
}