.slider {
  position: relative;
  height: 540px;
  min-height: 540px;
  margin: 0 auto;
}
@media (min-width: 577px) {
}
@media (max-width: 576px) {
  .slider {
    min-width: 320px;
    margin-top: 30px;
  }
}
@media (min-width: 577px) {
  .slider__wrapper {
    height: auto;
    height: unset;
    position: relative;
  }
}
@media (max-width: 576px) {
  .slider__wrapper {
    position: absolute;
    top: 0;
  }
}
.slider__items {
  height: 100%;
  margin: 0 auto;
}
.slider__item {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0;
  transition: opacity 1s;
}
.slider__item::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: rgba(0, 67, 145, 0.4);
  content: '';
}
.slider__item_1 {
  background-image: url(../img/slider_content/FanshaweCollege.png);
  z-index: 1;
  opacity: 1;
}
@media (max-width: 576px) {
  .slider__item_1 {
    background-image: url(../img/slider_content/FanshaweCollege_mobile.png);
  }
}
.slider__item_2 {
  background-image: url(../img/slider_content/StJohnsUniversity.png);
}
@media (max-width: 576px) {
  .slider__item_2 {
    background-image: url(../img/slider_content/StJohnsUniversity_mobile.png);
  }
}
.slider__item_3 {
  background-image: url(../img/slider_content/ChristsHospitalSchool.png);
}
@media (max-width: 576px) {
  .slider__item_3 {
    background-image: url(../img/slider_content/ChristsHospitalSchool.png);
  }
}
@media (min-width: 577px) {
  .slider__navigation {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
  }
}
@media (min-width: 577px) {
  .slide {
    padding-top: 230px;
  }
}
@media (max-width: 576px) {
  .slide {
    padding-left: 44px;
    padding-bottom: 70px;
  }
}
@media (max-width: 576px) {
  .slide__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.slide__title {
  font-family: Bebas Neue;
  color: #FFFFFF;
}
@media (min-width: 577px) {
  .slide__title {
    font-size: 64px;
  }
}
@media (max-width: 576px) {
  .slide__title {
    width: 60vw;
    font-size: 60px;
    line-height: 1.1;
  }
}
@media (min-width: 577px) {
  .slide__title_blue {
    color: #004391;
    line-height: 80px;
  }
}
.slide__description {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
}
@media (max-width: 576px) {
  .slide__description {
    max-width: 60%;
    margin-top: 0;
  }
}
.slide__button {
  display: inline-block;
  padding: 15px 66px;
  font-family: Bebas Neue;
  font-size: 18px;
  text-align: center;
  letter-spacing: 4px;
  text-decoration: none;
  color: #FFFFFF;
  background: #DF5E16;
}
.slide__button:hover {
  background-color: #F58A4E;
}
@media (min-width: 577px) {
  .slide__button {
    margin-top: 95px;
  }
}
@media (max-width: 576px) {
  .slide__button {
    margin-top: 50px;
    margin-bottom: 35px;
  }
}
@media (min-width: 577px) {
  .slider-navigation {
    width: 67px;
    height: 114px;
    background-color: #004391;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 9px 10px 1px;
  }
}
@media (max-width: 576px) {
  .slider-navigation {
    position: absolute;
    bottom: 25px;
    display: flex;
    align-items: center;
    margin-left: 45px;
    min-width: 230px;
    z-index: 5;
  }
}
@media (min-width: 577px) {
  .slider-navigation__count {
    text-align: center;
    font-family: Bebas Neue;
    font-size: 24px;
    letter-spacing: 4px;
    color: #FFFFFF;
  }
}
@media (max-width: 576px) {
  .slider-navigation__count {
    padding-left: 9px;
    margin: 9px 0;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 24px;
    letter-spacing: 4px;
    color: #FFFFFF;
  }
}
@media (min-width: 577px) {
  .slider-navigation__count_this {
    border-bottom: solid 2px #FFFFFF;
  }
}
@media (max-width: 576px) {
  .slider-navigation__count_this {
    padding-right: 9px;
    border-right: solid 2px #FFFFFF;
  }
}
@media (min-width: 577px) {
  .slider-navigation__arrows {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .slider-navigation__arrows {
    display: flex;
    order: -2;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 577px) {
  .slider-navigation__arrow {
    width: 9px;
    height: 16px;
    margin: 6px;
    background-image: url(../img/slider-navigation__arrow.svg);
    background-repeat: no-repeat;
  }
}
.slider-navigation__arrow_right {
  transform: rotate(180deg);
}
@media (min-width: 577px) {
  .slider-navigation__arrow:hover {
    cursor: pointer;
  }
}
@media (max-width: 576px) {
  .slider-navigation__arrows .slider-navigation__arrow {
    display: inline-block;
    height: 34px;
    width: 34px;
    margin: 6px;
    background-image: url(../img/slider-navigation__arrow.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center center;
    border: 2px solid #FFFFFF;
  }
}
@media (max-width: 576px) {
  .slider-navigation__fill {
    flex: 1;
    order: -1;
  }
}
