section.popular-programs
  .wrapper.popular-programs__wrapper
    h2.popular-programs__title Популярные программы
    .popular-programs__items
      .popular-programs__item.item-card
        .item-card__info
          h3.item-card__title Языковые курсы для начинающих
          p.item-card__text Япония, Корея, Австралия и еще 10 стран
          button.item-card__button(type='button', value='')
            a(href='#') подробнее
      .popular-programs__item.item-card.item-card_active
        .item-card__info
          h3.item-card__title Летние каникулы в Европе
          p.item-card__text Германия, Чехия, Испания и еще 4 страны
          button.item-card__button(type='button', value='')
            a(href='#') подробнее
      .popular-programs__item.item-card
        .item-card__info
          h3.item-card__title Высшее инженерное образование
          p.item-card__text  США, Швейцария, Сингапур и еще 19 стран
          button.item-card__button(type='button', value='')
            a(href='#') подробнее
      .popular-programs__item.item-card
        .item-card__info
          h3.item-card__title Языковые курсы для начинающих
          p.item-card__text Япония, Корея, Австралия и еще 10 стран
          button.item-card__button(type='button', value='')
            a(href='#') подробнее
    .popular-programs__navigation.navigation
      .navigation__arrow.navigation__arrow_left 
      .navigation__arrow.navigation__arrow_right