section.blog
  .wrapper.blog__wrapper
    h2.blog__title.h2-title Блог
    ul.blog__menu
      li.blog__menu-item Все
      li.blog__menu-item.blog__menu-item_active Акции
      li.blog__menu-item новости
      li.blog__menu-item Мероприятия
    .blog__news
      ul.blog__news-list.blog__news-list_all
        li.blog__item
          .blog__picture.blog__picture_1
          h3.blog__news-title Акция от школы ЕС (все)
          p.blog__news-text Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать английский язык и совмещать обучение с увлекательными развлечениями!
          .blog__button
            a(href="#") подробнее
        li.blog__item
          .blog__picture.blog__picture_2
          h3.blog__news-title Акция от школы ЕС
          p.blog__news-text Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать английский язык и совмещать обучение с увлекательными развлечениями!
          .blog__button
            a(href="#") подробнее
        li.blog__item
          .blog__picture.blog__picture_3
          h3.blog__news-title Акция от школы ЕС
          p.blog__news-text Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать английский язык и совмещать обучение с увлекательными развлечениями!
          .blog__button
            a(href="#") подробнее
      ul.blog__news-list.blog__news-list_promo.blog__news-list_active
        li.blog__item
          .blog__picture.blog__picture_1
          h3.blog__news-title Акция от школы ЕС (акции)
          p.blog__news-text Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать английский язык и совмещать обучение с увлекательными развлечениями!
          .blog__button
            a(href="#") подробнее
        li.blog__item
          .blog__picture.blog__picture_3
          h3.blog__news-title Акция от школы ЕС
          p.blog__news-text Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать английский язык и совмещать обучение с увлекательными развлечениями!
          .blog__button
            a(href="#") подробнее
        li.blog__item
          .blog__picture.blog__picture_2
          h3.blog__news-title Акция от школы ЕС
          p.blog__news-text Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать английский язык и совмещать обучение с увлекательными развлечениями!
          .blog__button
            a(href="#") подробнее
      ul.blog__news-list.blog__news-list_news
        li.blog__item
          .blog__picture.blog__picture_3
          h3.blog__news-title Акция от школы ЕС (новости)
          p.blog__news-text Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать английский язык и совмещать обучение с увлекательными развлечениями!
          .blog__button
            a(href="#") подробнее
        li.blog__item
          .blog__picture.blog__picture_1
          h3.blog__news-title Акция от школы ЕС
          p.blog__news-text Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать английский язык и совмещать обучение с увлекательными развлечениями!
          .blog__button
            a(href="#") подробнее
        li.blog__item
          .blog__picture.blog__picture_2
          h3.blog__news-title Акция от школы ЕС
          p.blog__news-text Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать английский язык и совмещать обучение с увлекательными развлечениями!
          .blog__button
            a(href="#") подробнее
      ul.blog__news-list.blog__news-list_events
        li.blog__item
          .blog__picture.blog__picture_2
          h3.blog__news-title Акция от школы ЕС (мероприятия)
          p.blog__news-text Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать английский язык и совмещать обучение с увлекательными развлечениями!
          .blog__button
            a(href="#") подробнее
        li.blog__item
          .blog__picture.blog__picture_3
          h3.blog__news-title Акция от школы ЕС
          p.blog__news-text Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать английский язык и совмещать обучение с увлекательными развлечениями!
          .blog__button
            a(href="#") подробнее
        li.blog__item
          .blog__picture.blog__picture_1
          h3.blog__news-title Акция от школы ЕС
          p.blog__news-text Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать английский язык и совмещать обучение с увлекательными развлечениями!
          .blog__button
            a(href="#") подробнее
      .blog__navigation.navigation
        .navigation__arrow.navigation__arrow_left 
        .navigation__arrow.navigation__arrow_right